In [ ]:
%load_ext autoreload
%autoreload 2

# Set Trial Name

In [2]:
TRIAL_NAME = "12_add_word_emb"

import datetime
import pytz
NOW = datetime.datetime.now(pytz.timezone('Asia/Tokyo')).strftime('%Y%m%d%H%M%S')

# Load yaml

In [3]:
import yaml
CONFIG_DIR = '../config'
with open(f'{CONFIG_DIR}/run000.yml') as file:
    cfg = yaml.safe_load(file)

import sys
sys.path.append(cfg['SRC_DIR'])
cfg['run_name'] = TRIAL_NAME

# fix seed

In [4]:
from util import seed_everything
seed_everything(seed=33, use_torch=False)

# Make Output Folder

In [5]:
import os
OUTPUT_DIR = f'../../output/{NOW}_{TRIAL_NAME}'
os.makedirs(OUTPUT_DIR, exist_ok=True)

# Load Model

In [6]:
import pandas as pd
import numpy as np

sub = pd.read_csv('../../data/atmacup10__sample_submission.csv')
color = pd.read_csv('../../data/color.csv')
historical_person = pd.read_csv('../../data/historical_person.csv')
maker = pd.read_csv('../../data/maker.csv')
material = pd.read_csv('../../data/material.csv')
object_collection = pd.read_csv('../../data/object_collection.csv')
palette = pd.read_csv('../../data/palette.csv')
principal_maker_occupation = pd.read_csv('../../data/principal_maker_occupation.csv')
principal_maker = pd.read_csv('../../data/principal_maker.csv')
production_place = pd.read_csv('../../data/production_place.csv')
technique = pd.read_csv('../../data/technique.csv')
test = pd.read_csv('../../data/test.csv')
test[cfg['target']] = np.nan
train = pd.read_csv('../../data/train.csv')

In [7]:
train.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,0011d6be41612ec9eae3,93c092ba70beab248f31,The Avenue of Birches,NaN,"The Avenue of Birches, Jan Hackaert, 1660 - 1685",Jan Hackaert,Jan Hackaert,h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm,NaN,The Avenue of Birches,purchase,1808-01-01T00:00:00,NaN,1660 - 1685,1660.0,17,1660.0,1685.0,48
1,0012765f7a97ccc3e9e9,95c14fb11c54281ad7e0,Struik in bloei,NaN,"Struik in bloei, Richard Tepe (attributed to),...",Richard Tepe,Richard Tepe,h 165mm × w 223mm,erven Richard Tepe,Struik in bloei,purchase,2000-01-01T00:00:00,NaN,c. 1900 - c. 1930,1900.0,19,1900.0,1930.0,2

In [9]:
!pwd

/Users/shinichiro.saito/atmacup/my_pipeline/experiments/notebook

In [52]:
word_emb = pd.read_csv('/Users/shinichiro.saito/atmacup/my_pipeline/extract_data/extract_word_emb.csv', usecols=['object_id', 'description_feature'])

In [70]:
np.stack(word_emb['description_feature']).shape

(12026,)

In [8]:
test.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,000405d9a5e3f49fc49d,a2aabd3cc8859f4260ad,Twee personen voor de Duizendjarige den te Wol...,NaN,Twee personen voor de Duizendjarige den te Wol...,Bernardus Bruining,Bernardus Bruining,h 167mm × w 108mm,NaN,Twee personen voor de Duizendjarige den te Wol...,transfer,1994-01-01T00:00:00,NaN,1850 - 1900,1850.0,19,1850.0,1900.0,NaN
1,001020bd00b149970f78,5d6a286cc3ab64c2c043,"Portrait of Philipp Ernst, Count of Hohenlohe ...","Portret van Philip Ernst (1585-1629), graaf va...","Portrait of Philipp Ernst, Count of Hohenlohe ...",Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,h 29.7cm × w 24.1cm,NaN,"Portrait of Philipp Ernst, Count of Hohenlohe ...",nationalization 1795,1798-09-01T00:00:00,NaN,c. 1609 - c. 1633,1609.0,17,1609.0,1633.0,NaN

In [9]:
del_non_overlapping_list = [
    # 'object_id',
    'art_series_id',
    #'title',
    #'description',
    #'long_title',
    'principal_maker',
    'principal_or_first_maker',
    #'sub_title',
    'copyright_holder',
    #'more_title',
    'acquisition_method',
    # 'acquisition_date',
    # 'acquisition_credit_line',
    # 'dating_presenting_date',
    # 'dating_sorting_date',
    'dating_period',
    # 'dating_year_early',
    # 'dating_year_late'
]

from util import replace_non_overlap_val_to_missing
train, test = replace_non_overlap_val_to_missing(train,test,columns=del_non_overlapping_list)

In [10]:
train.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,0011d6be41612ec9eae3,other,The Avenue of Birches,NaN,"The Avenue of Birches, Jan Hackaert, 1660 - 1685",Jan Hackaert,Jan Hackaert,h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm,missing,The Avenue of Birches,purchase,1808-01-01T00:00:00,NaN,1660 - 1685,1660.0,17,1660.0,1685.0,48
1,0012765f7a97ccc3e9e9,other,Struik in bloei,NaN,"Struik in bloei, Richard Tepe (attributed to),...",Richard Tepe,Richard Tepe,h 165mm × w 223mm,erven Richard Tepe,Struik in bloei,purchase,2000-01-01T00:00:00,NaN,c. 1900 - c. 1930,1900.0,19,1900.0,1930.0,2

In [11]:
test.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,000405d9a5e3f49fc49d,other,Twee personen voor de Duizendjarige den te Wol...,NaN,Twee personen voor de Duizendjarige den te Wol...,Bernardus Bruining,Bernardus Bruining,h 167mm × w 108mm,missing,Twee personen voor de Duizendjarige den te Wol...,transfer,1994-01-01T00:00:00,NaN,1850 - 1900,1850.0,19,1850.0,1900.0,NaN
1,001020bd00b149970f78,other,"Portrait of Philipp Ernst, Count of Hohenlohe ...","Portret van Philip Ernst (1585-1629), graaf va...","Portrait of Philipp Ernst, Count of Hohenlohe ...",Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,h 29.7cm × w 24.1cm,missing,"Portrait of Philipp Ernst, Count of Hohenlohe ...",nationalization 1795,1798-09-01T00:00:00,NaN,c. 1609 - c. 1633,1609.0,17,1609.0,1633.0,NaN

# Merge Data

In [12]:
group = train.groupby('principal_maker')

agg_df = pd.concat([
    group.size().rename('size'), # 著者が何回出てくるか. (value_counts と同じです)
    group['sub_title'].nunique().rename('sub_title_num'), # 著者ごとに何種類の sub_title を持っているか
    group['dating_sorting_date'].agg(['min', 'max', 'mean']), # 著者ごとに描いた年度の最小・最大・平均 (agg に配列を渡すと同時に複数やってくれます)
], axis=1)

agg_df.head()

                 size  sub_title_num     min     max    mean
principal_maker
A. Böeseken         5              5  1858.0  1873.0  1865.8
A. Lutz             1              1  1825.0  1825.0  1825.0
A. Mansuy           2              2  1860.0  1860.0  1860.0
A. Nissen           3              1  1860.0  1860.0  1860.0
A. Roussel          1              1  1905.0  1905.0  1905.0

In [13]:
train = pd.merge(train, 
         agg_df,
         on='principal_maker', 
         how='left')

test = pd.merge(test, 
         agg_df,
         on='principal_maker', 
         how='left')

In [14]:
train.columns

Index(['object_id', 'art_series_id', 'title', 'description', 'long_title',
       'principal_maker', 'principal_or_first_maker', 'sub_title',
       'copyright_holder', 'more_title', 'acquisition_method',
       'acquisition_date', 'acquisition_credit_line', 'dating_presenting_date',
       'dating_sorting_date', 'dating_period', 'dating_year_early',
       'dating_year_late', 'likes', 'size', 'sub_title_num', 'min', 'max',
       'mean'],
      dtype='object')

# Feature Enginnering

In [15]:
def create_object_feature(input_df):        
    return input_df['likes'].copy()

create_object_feature(test).head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: likes, dtype: float64

In [16]:
def create_numeric_feature(input_df):
    use_columns = [
        'dating_period',
        'dating_year_early',
        'dating_year_late'
    ]

    return input_df[use_columns].copy()

create_numeric_feature(train).head(2)

   dating_period  dating_year_early  dating_year_late
0             17             1660.0            1685.0
1             19             1900.0            1930.0

In [17]:
def create_categorical_feature(input_df):
    use_columns = [
    'art_series_id',
    'principal_maker',
    'principal_or_first_maker',
    'copyright_holder',
    'acquisition_method',
    ]

    return input_df[use_columns].copy()

create_categorical_feature(train).head(2)

,art_series_id,principal_maker,principal_or_first_maker,copyright_holder,acquisition_method
0,other,Jan Hackaert,Jan Hackaert,missing,purchase
1,other,Richard Tepe,Richard Tepe,erven Richard Tepe,purchase

In [18]:
import datetime

def create_acquisition_feature(input_df):
    out_df = pd.DataFrame()
    
    use_columns = [
        'acquisition_date'
    ]
    
    out_df['year'] = pd.to_datetime(input_df['acquisition_date']).dt.year
    out_df['month'] = pd.to_datetime(input_df['acquisition_date']).dt.month
    out_df['dayofweek'] = pd.to_datetime(input_df['acquisition_date']).dt.dayofweek
    out_df['sum_time'] =  10**10 - pd.to_datetime(input_df['acquisition_date']).view('int') // 10**9
    
    return out_df.add_prefix('AcquisitionDate_')

create_acquisition_feature(train).head(2)

,AcquisitionDate_year,AcquisitionDate_month,AcquisitionDate_dayofweek,AcquisitionDate_sum_time
0,1808.0,1.0,4.0,15112288000
1,2000.0,1.0,5.0,9053315200

In [19]:
# from util import inf2nan

# def create_principal_maker_info_feature(input_df):
#     '''作者の情報を追加'''
#     out_df = pd.DataFrame()

#     input_df_object_id = input_df['object_id']
    
#     # 作成期間の平均の年を作成
#     train['dating_year_mean'] = (train['dating_year_early'] + train['dating_year_late']) / 2
#     test['dating_year_mean'] = (test['dating_year_early'] + test['dating_year_late']) / 2

#     merge_df = pd.concat([train, test],axis=0).reset_index(drop=True)

#     # 作成期間の平均までに稼いだ良いねの総数、作者の人気度指数
#     out_df['object_id'] = merge_df['object_id']
#     out_df['principal_maker'] = merge_df['principal_maker']
#     out_df['dating_year_mean'] = merge_df['dating_year_mean']
#     out_df['cumsum'] = merge_df.sort_values('dating_year_mean').groupby('principal_maker')['likes'].cumsum()
#     out_df['cumsum_fillnan'] = out_df.sort_values('dating_year_mean').groupby('principal_maker')['cumsum'].ffill()

#     # 作成期間の平均までに出した作品の数
#     tmp_df = pd.DataFrame()
#     tmp_df['object_id'] = train['object_id']
#     tmp_df['cumcount'] = train.sort_values('dating_year_mean').groupby('principal_maker').cumcount()
#     out_df = pd.merge(out_df, tmp_df, on='object_id', how='left')
#     out_df['cumcount_fillnan'] = out_df.sort_values('dating_year_mean').groupby('principal_maker')['cumcount'].ffill()

#     # 作成期間の平均における良いねの作品平均、作者の人気度指数
#     out_df['cumsum_per_cumcount'] = out_df['cumsum_fillnan'] / out_df['cumcount_fillnan']
#     out_df['cumsum_per_cumcount'] = inf2nan(out_df['cumsum_per_cumcount'])
    
#     # anonymousはnanにする
#     anonymous_idx = out_df[out_df['principal_maker'] == 'anonymous'].index
#     out_df.loc[anonymous_idx,['cumsum_fillnan','cumcount_fillnan','cumsum_per_cumcount']] = np.nan
    
#     # filter by id
#     out_df = out_df[out_df['object_id'].isin(input_df_object_id)].reset_index(drop=True)

#     return out_df[['cumsum_fillnan','cumcount_fillnan','cumsum_per_cumcount']].add_prefix('PrincipalMakerInfo_')

# create_principal_maker_info_feature(train).head(2)

In [20]:
def create_string_length_feature(input_df):
    out_df = pd.DataFrame()

    str_columns = [
        'title', 
        'long_title',
        'sub_title',
        'more_title'
        # and more
    ]

    for c in str_columns:
        out_df[c] = input_df[c].str.len()

    return out_df.add_prefix('StringLength__')

create_string_length_feature(train).head(2)

,StringLength__title,StringLength__long_title,StringLength__sub_title,StringLength__more_title
0,21,48,39.0,21.0
1,15,64,17.0,15.0

In [21]:
def create_count_encoding_feature(input_df):
    use_columns = [
        'acquisition_method',
        'title',
        'principal_maker',
        # and more
    ]

    out_df = pd.DataFrame()
    for column in use_columns:
        vc = train[column].value_counts()
        out_df[column] = input_df[column].map(vc)

    return out_df.add_prefix('CE_')

create_count_encoding_feature(train).head(2)

   CE_acquisition_method  CE_title  CE_principal_maker
0                   4253         1                   3
1                   4253         1                 180

In [22]:
def create_one_hot_encoding(input_df):
    use_columns = [
        'acquisition_method',
        'principal_maker'
    ]
    out_df = pd.DataFrame()
    for column in use_columns:

        # あまり巨大な行列にならないよう, 出現回数が 20 回を下回るカテゴリは考慮しない
        vc = train[column].value_counts()
        vc = vc[vc > 20]

        # 明示的に catgories を指定して, input_df によらず列の大きさが等しくなるようにする
        cat = pd.Categorical(input_df[column], categories=vc.index)

        # このタイミングで one-hot 化
        out_i = pd.get_dummies(cat)
        # column が Catgory 型として認識されているので list にして解除する (こうしないと concat でエラーになる)
        out_i.columns = out_i.columns.tolist()
        out_i = out_i.add_prefix(f'{column}=')
        out_df = pd.concat([out_df, out_i], axis=1)
    return out_df

create_one_hot_encoding(train).head(2)

,acquisition_method=purchase,acquisition_method=transfer,acquisition_method=gift,acquisition_method=unknown,acquisition_method=bequest,acquisition_method=loan,acquisition_method=missing,acquisition_method=nationalization 1795,principal_maker=anonymous,principal_maker=other,...,principal_maker=C.M. Ferrier & F. von Martens,principal_maker=James Valentine,principal_maker=Wouter Johannes van Troostwijk,principal_maker=Jan Banning,principal_maker=Adolphe Zimmermans,principal_maker=Cor Jaring,principal_maker=Jan Maurits Quinkhard,principal_maker=Augusta Curiel,principal_maker=Gerard Edelinck,principal_maker=Jean Baptiste August Kessler
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
import re

#  h 166mm × w 78/54mm

def get_h_from_subtitle(text:str):
    match_cm = re.search(r'h \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'h \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100

def get_w_from_subtitle(text:str):
    match_cm = re.search(r'w \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'w \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        elif match_mm.group()[2:-2] == '78/54':
            return float(78)
        else:
            return float(match_mm.group()[2:-2])/100    

def get_t_from_subtitle(text:str):
    match_cm = re.search(r't \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r't \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100   

def get_d_from_subtitle(text:str):
    match_cm = re.search(r'd \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'd \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100   
        
def create_subtitle_info(input_df):
    out_df = pd.DataFrame()
     
    out_df['subtitle_h'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_h_from_subtitle(x))
    out_df['subtitle_w'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_w_from_subtitle(x))
    out_df['subtitle_t'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_t_from_subtitle(x))
    out_df['subtitle_d'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_d_from_subtitle(x))
    
    out_df['area'] = out_df['subtitle_h'] * out_df['subtitle_w']
    out_df['volume'] = out_df['subtitle_h'] * out_df['subtitle_w'] * out_df['subtitle_t']

    return out_df

create_subtitle_info(test).head(2)

   subtitle_h  subtitle_w  subtitle_t  subtitle_d      area  volume
0        1.67        1.08         NaN         NaN    1.8036     NaN
1       29.70       24.10         NaN         NaN  715.7700     NaN

In [24]:
# https://github.com/nyk510/vivid/blob/master/vivid/utils.py
from contextlib import contextmanager
from time import time

class Timer:
    def __init__(self, logger=None, format_str='{:.3f}[s]', prefix=None, suffix=None, sep=' '):

        if prefix: format_str = str(prefix) + sep + format_str
        if suffix: format_str = format_str + sep + str(suffix)
        self.format_str = format_str
        self.logger = logger
        self.start = None
        self.end = None

    @property
    def duration(self):
        if self.end is None:
            return 0
        return self.end - self.start

    def __enter__(self):
        self.start = time()

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.end = time()
        out_str = self.format_str.format(self.duration)
        if self.logger:
            self.logger.info(out_str)
        else:
            print(out_str)

In [25]:
from tqdm import tqdm

def to_feature(input_df):
    """input_df を特徴量行列に変換した新しいデータフレームを返す.
    """

    processors = [
        create_object_feature,
        create_numeric_feature,
        create_categorical_feature,
        create_acquisition_feature,
        # create_principal_maker_info_feature,
        create_string_length_feature,
        create_count_encoding_feature,
        create_one_hot_encoding,
        create_subtitle_info
    ]

    out_df = pd.DataFrame()

    for func in tqdm(processors, total=len(processors)):
        with Timer(prefix='create' + func.__name__ + ' '):
            _df = func(input_df)
        # 長さが等しいことをチェック (ずれている場合, func の実装がおかしい)
        assert len(_df) == len(input_df), func.__name__
        out_df = pd.concat([out_df, _df], axis=1)

    return out_df

train_feat= to_feature(train)
test_feat = to_feature(test)

train = train_feat.copy()
test = test_feat.copy()

100%|██████████| 8/8 [00:00<00:00, 46.23it/s]
  0%|          | 0/8 [00:00<?, ?it/s]

createcreate_object_feature  0.001[s]
createcreate_numeric_feature  0.001[s]
createcreate_categorical_feature  0.002[s]
createcreate_acquisition_feature  0.017[s]
createcreate_string_length_feature  0.017[s]
createcreate_count_encoding_feature  0.013[s]
createcreate_one_hot_encoding  0.010[s]
createcreate_subtitle_info  0.083[s]
createcreate_object_feature  0.000[s]
createcreate_numeric_feature  0.002[s]
createcreate_categorical_feature  0.001[s]
createcreate_acquisition_feature  0.013[s]

100%|██████████| 8/8 [00:00<00:00, 45.95it/s]

createcreate_string_length_feature  0.018[s]
createcreate_count_encoding_feature  0.013[s]
createcreate_one_hot_encoding  0.011[s]
createcreate_subtitle_info  0.082[s]

In [26]:
train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

# train

In [27]:
train.isnull().sum()

likes                    0
dating_period            0
dating_year_early       10
dating_year_late        38
art_series_id            0
                     ...
subtitle_w             242
subtitle_t           11724
subtitle_d           10858
area                   269
volume               11726
Length: 124, dtype: int64

In [28]:
test.head(2)

,likes,dating_period,dating_year_early,dating_year_late,art_series_id,principal_maker,principal_or_first_maker,copyright_holder,acquisition_method,AcquisitionDate_year,...,principal_maker=Jan Maurits Quinkhard,principal_maker=Augusta Curiel,principal_maker=Gerard Edelinck,principal_maker=Jean Baptiste August Kessler,subtitle_h,subtitle_w,subtitle_t,subtitle_d,area,volume
0,NaN,19,1850.0,1900.0,other,Bernardus Bruining,Bernardus Bruining,missing,transfer,1994.0,...,0,0,0,0,1.67,1.08,NaN,NaN,1.8036,NaN
1,NaN,17,1609.0,1633.0,other,Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,missing,nationalization 1795,1798.0,...,0,0,0,0,29.70,24.10,NaN,NaN,715.7700,NaN

# reduce mem usage

In [29]:
# from util import reduce_mem_usage
# train_feat_df = reduce_mem_usage(train_feat_df)
# test_feat_df = reduce_mem_usage(test_feat_df)

# Lable Encoding

In [30]:
cat_col = train.select_dtypes('O').columns.tolist()

In [31]:
from fe import label_encode
train, test = label_encode(train, test, cat_col)

In [32]:
train.dtypes

likes                  int64
dating_period          int64
dating_year_early    float64
dating_year_late     float64
art_series_id          int64
                      ...
subtitle_w           float64
subtitle_t           float64
subtitle_d           float64
area                 float64
volume               float64
Length: 124, dtype: object

# add fold

In [33]:
from fold import add_fold_bin_skf
train = add_fold_bin_skf(train, train[cfg['target']], fold_num=5, bins=[0,1,10,100,1000, 27392])

# Target Encoding

In [34]:
train['dating_period']

0        17
1        19
2        19
3        19
4        19
         ..
12021    19
12022    18
12023    18
12024    17
12025    15
Name: dating_period, Length: 12026, dtype: int64

In [35]:
target_enc_list = [
    # 'art_series_id',
    'principal_maker',
    'principal_or_first_maker',
    'copyright_holder',
    'acquisition_method',
    'dating_period'
]

from fe import target_encoding
train, test = target_encoding(train, 
                              test, 
                              target = cfg['target'], 
                              target_enc_list = target_enc_list, 
                              fold_num = cfg['fold_num']
                             )

principal_maker
principal_or_first_maker
copyright_holder
acquisition_method
dating_period

# Make Model

In [36]:
use_col = train.columns.tolist()
use_col.remove('fold')
use_col.remove(cfg['target'])

In [37]:
use_col

['dating_period',
 'dating_year_early',
 'dating_year_late',
 'art_series_id',
 'principal_maker',
 'principal_or_first_maker',
 'copyright_holder',
 'acquisition_method',
 'AcquisitionDate_year',
 'AcquisitionDate_month',
 'AcquisitionDate_dayofweek',
 'AcquisitionDate_sum_time',
 'StringLength__title',
 'StringLength__long_title',
 'StringLength__sub_title',
 'StringLength__more_title',
 'CE_acquisition_method',
 'CE_title',
 'CE_principal_maker',
 'acquisition_method=purchase',
 'acquisition_method=transfer',
 'acquisition_method=gift',
 'acquisition_method=unknown',
 'acquisition_method=bequest',
 'acquisition_method=loan',
 'acquisition_method=missing',
 'acquisition_method=nationalization 1795',
 'principal_maker=anonymous',
 'principal_maker=other',
 'principal_maker=Johann Sadeler (I)',
 'principal_maker=Bernard Picart',
 'principal_maker=Richard Tepe',
 'principal_maker=anoniem (Monumentenzorg)',
 'principal_maker=Jan Luyken',
 'principal_maker=Raphaël Sadeler (I)',
 'principal_maker=Woodbury & Page',
 'principal_maker=Romeyn de Hooghe',
 'principal_maker=Aegidius Sadeler',
 'principal_maker=Giorgio Sommer',
 'principal_maker=Willem Diepraam',
 'principal_maker=Jacob Olie jr.',
 'principal_maker=Geldolph Adriaan Kessler',
 'principal_maker=L. Heldring',
 'principal_maker=Abraham Rademaker',
 'principal_maker=Hermanus Jan Hendrik van Rijkelijkhuysen',
 'principal_maker=Crispijn van de Passe (I)',
 'principal_maker=Johanna Margaretha Piek',
 'principal_maker=Jan Harmensz. Muller',
 'principal_maker=Cornelis Galle (I)',
 'principal_maker=Jacob de Gheyn (II)',
 'principal_maker=Cornelis Ploos van Amstel',
 'principal_maker=Théodore van Lelyveld',
 'principal_maker=Jacob van der Schley',
 'principal_maker=Daniël Veelwaard (I)',
 'principal_maker=Jan Frederik Christiaan Reckleben',
 'principal_maker=Paulus Pontius',
 'principal_maker=Albert Greiner',
 'principal_maker=Hendrick Goltzius',
 'principal_maker=Francis Frith',
 'principal_maker=Henry Pauw van Wieldrecht',
 'principal_maker=Heinrich Aldegrever',
 'principal_maker=Theodoor Koning',
 'principal_maker=Roelant Roghman',
 'principal_maker=Adolphe Burdet',
 'principal_maker=Jacques Lalaing',
 'principal_maker=Juan Laurent',
 'principal_maker=Philip Henry Delamotte',
 'principal_maker=G. Dangereux',
 'principal_maker=Bonfils',
 'principal_maker=Fratelli Alinari',
 'principal_maker=Henry W. Taunt',
 'principal_maker=Isidore Kinsbergen',
 'principal_maker=Atelier Kurkdjian',
 'principal_maker=Charles Rochussen',
 'principal_maker=Carl Cristiaan Fuchs',
 'principal_maker=Paul Güssfeldt',
 'principal_maker=Johann Heinrich Maria Hubert Rennefeld',
 'principal_maker=Samuel Bourne',
 'principal_maker=Caspar Luyken',
 'principal_maker=Eberhard Cornelis Rahms',
 'principal_maker=Jan van de Velde (II)',
 'principal_maker=Gabriel Huquier',
 'principal_maker=Jozef Van Ruyssevelt',
 'principal_maker=Waldemar Titzenthaler',
 'principal_maker=George Hendrik Breitner',
 'principal_maker=Joost van Geel',
 'principal_maker=Theodoor van Thulden',
 'principal_maker=Jean Baptiste Vanmour',
 'principal_maker=Dirck Volckertsz. Coornhert',
 'principal_maker=Schelte Adamsz. Bolswert',
 'principal_maker=Giacomo Brogi',
 'principal_maker=Hendrik Roosing',
 'principal_maker=James Higson',
 'principal_maker=Christiaan Benjamin Nieuwenhuis',
 'principal_maker=Gustave Eugène Chauffourier',
 'principal_maker=Herman Salzwedel',
 'principal_maker=O. Hisgen & Co.',
 'principal_maker=Charles Thurston Thompson',
 'principal_maker=Maurits Verveer',
 'principal_maker=Boëtius Adamsz. Bolswert',
 'principal_maker=Heinrich Ernst & Co',
 'principal_maker=Arnoud van Halen',
 'principal_maker=Jan Goedeljee',
 'principal_maker=Simon Fokke',
 'principal_maker=Kornelis Willem Schorteldoek',
 'principal_maker=Ohannes Kurkdjian',
 'principal_maker=Rembrandt van Rijn',
 'principal_maker=C.M. Ferrier & F. von Martens',
 'principal_maker=James Valentine',
 'principal_maker=Wouter Johannes van Troostwijk',
 'principal_maker=Jan Banning',
 'principal_maker=Adolphe Zimmermans',
 'principal_maker=Cor Jaring',
 'principal_maker=Jan Maurits Quinkhard',
 'principal_maker=Augusta Curiel',
 'principal_maker=Gerard Edelinck',
 'principal_maker=Jean Baptiste August Kessler',
 'subtitle_h',
 'subtitle_w',
 'subtitle_t',
 'subtitle_d',
 'area',
 'volume',
 'principal_maker_target_enc',
 'principal_or_first_maker_target_enc',
 'copyright_holder_target_enc',
 'acquisition_method_target_enc',
 'dating_period_target_enc']

In [38]:
# 学習直前でwandbにログイン、こうしないと頻繁にnotebookが落ちる
from use_wandb import use_wandb
use_wandb(params=cfg['params'], PROJECT_NAME=cfg['competition_name'], TRIAL_NAME=TRIAL_NAME)

wandb: Currently logged in as: sinchir0 (use `wandb login --relogin` to force relogin)

In [39]:
from fe import target_encoding
from lgbm import LGBM

lgbm = LGBM(train=train,
  test=test,
  target='likes',
  use_col=use_col,
  cat_col=cat_col,
  cfg=cfg,
  OUTPUT_DIR=OUTPUT_DIR,
  DO_FIT=True,
  DO_SEED_AVE=False,
  DEBUG=False,
  is_target_log=True)

feature_importance_df, order = lgbm.feature_importance()

--------------FOLDS : 0 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'principal_maker', 'principal_or_first_maker']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/callback.py:186: UserWarning: Early stopping is not available in dart mode
  warnings.warn('Early stopping is not available in dart mode')

[100]	training's rmse: 1.51067	valid_1's rmse: 1.51726
[200]	training's rmse: 1.45779	valid_1's rmse: 1.46973
[300]	training's rmse: 1.39119	valid_1's rmse: 1.40755
[400]	training's rmse: 1.35302	valid_1's rmse: 1.37175
[500]	training's rmse: 1.30101	valid_1's rmse: 1.32441
[600]	training's rmse: 1.27591	valid_1's rmse: 1.30164
[700]	training's rmse: 1.23345	valid_1's rmse: 1.26401
[800]	training's rmse: 1.18071	valid_1's rmse: 1.21744
[900]	training's rmse: 1.13524	valid_1's rmse: 1.17828
[1000]	training's rmse: 1.09961	valid_1's rmse: 1.1496
[1100]	training's rmse: 1.07614	valid_1's rmse: 1.13336
[1200]	training's rmse: 1.05452	valid_1's rmse: 1.11848
[1300]	training's rmse: 1.03392	valid_1's rmse: 1.10484
[1400]	training's rmse: 1.0208	valid_1's rmse: 1.09877
[1500]	training's rmse: 1.01522	valid_1's rmse: 1.09757
[1600]	training's rmse: 1.00732	valid_1's rmse: 1.09481
[1700]	training's rmse: 1.00302	valid_1's rmse: 1.09394
[1800]	training's rmse: 0.993389	valid_1's rmse: 1.09002
[1900]	training's rmse: 0.982745	valid_1's rmse: 1.0852
[2000]	training's rmse: 0.976343	valid_1's rmse: 1.08266
[2100]	training's rmse: 0.968017	valid_1's rmse: 1.07979
[2200]	training's rmse: 0.959035	valid_1's rmse: 1.07619
[2300]	training's rmse: 0.955745	valid_1's rmse: 1.07653
[2400]	training's rmse: 0.946481	valid_1's rmse: 1.07304
[2500]	training's rmse: 0.939912	valid_1's rmse: 1.0711
[2600]	training's rmse: 0.937028	valid_1's rmse: 1.07182
[2700]	training's rmse: 0.930818	valid_1's rmse: 1.06985
[2800]	training's rmse: 0.929322	valid_1's rmse: 1.07069
[2900]	training's rmse: 0.92444	valid_1's rmse: 1.06945
[3000]	training's rmse: 0.920879	valid_1's rmse: 1.06898
[3100]	training's rmse: 0.91456	valid_1's rmse: 1.06734
[3200]	training's rmse: 0.908745	valid_1's rmse: 1.06596
[3300]	training's rmse: 0.904165	valid_1's rmse: 1.0652
[3400]	training's rmse: 0.902375	valid_1's rmse: 1.06535
[3500]	training's rmse: 0.897351	valid_1's rmse: 1.06426
[3600]	training's rmse: 0.89122	valid_1's rmse: 1.06209
[3700]	training's rmse: 0.886164	valid_1's rmse: 1.06124
[3800]	training's rmse: 0.879244	valid_1's rmse: 1.0597
[3900]	training's rmse: 0.873862	valid_1's rmse: 1.05899
[4000]	training's rmse: 0.867235	valid_1's rmse: 1.05782
[4100]	training's rmse: 0.865743	valid_1's rmse: 1.05879
[4200]	training's rmse: 0.860544	valid_1's rmse: 1.05759
[4300]	training's rmse: 0.855468	valid_1's rmse: 1.05674
[4400]	training's rmse: 0.851675	valid_1's rmse: 1.05634
[4500]	training's rmse: 0.847212	valid_1's rmse: 1.05593
[4600]	training's rmse: 0.843835	valid_1's rmse: 1.05584
[4700]	training's rmse: 0.839647	valid_1's rmse: 1.05544
[4800]	training's rmse: 0.834072	valid_1's rmse: 1.05443
[4900]	training's rmse: 0.830035	valid_1's rmse: 1.05434
[5000]	training's rmse: 0.826188	valid_1's rmse: 1.05383
[5100]	training's rmse: 0.822042	valid_1's rmse: 1.0533
[5200]	training's rmse: 0.820382	valid_1's rmse: 1.05354
[5300]	training's rmse: 0.815937	valid_1's rmse: 1.05287
[5400]	training's rmse: 0.811558	valid_1's rmse: 1.05202
[5500]	training's rmse: 0.809376	valid_1's rmse: 1.05193
[5600]	training's rmse: 0.806951	valid_1's rmse: 1.05144
[5700]	training's rmse: 0.802377	valid_1's rmse: 1.0508
[5800]	training's rmse: 0.801299	valid_1's rmse: 1.0511
[5900]	training's rmse: 0.797458	valid_1's rmse: 1.05055
[6000]	training's rmse: 0.793317	valid_1's rmse: 1.04995
[6100]	training's rmse: 0.789554	valid_1's rmse: 1.0492
[6200]	training's rmse: 0.787024	valid_1's rmse: 1.04908
[6300]	training's rmse: 0.783408	valid_1's rmse: 1.04906
[6400]	training's rmse: 0.779556	valid_1's rmse: 1.04856
[6500]	training's rmse: 0.777944	valid_1's rmse: 1.04921
[6600]	training's rmse: 0.773583	valid_1's rmse: 1.04859
[6700]	training's rmse: 0.770547	valid_1's rmse: 1.04827
[6800]	training's rmse: 0.767742	valid_1's rmse: 1.048
[6900]	training's rmse: 0.765396	valid_1's rmse: 1.04776
[7000]	training's rmse: 0.76257	valid_1's rmse: 1.04761
[7100]	training's rmse: 0.758523	valid_1's rmse: 1.04712
[7200]	training's rmse: 0.755634	valid_1's rmse: 1.04704
[7300]	training's rmse: 0.75212	valid_1's rmse: 1.04665
[7400]	training's rmse: 0.750013	valid_1's rmse: 1.04674
[7500]	training's rmse: 0.746659	valid_1's rmse: 1.04669
[7600]	training's rmse: 0.743803	valid_1's rmse: 1.04675
[7700]	training's rmse: 0.74	valid_1's rmse: 1.04658
[7800]	training's rmse: 0.73767	valid_1's rmse: 1.04703
[7900]	training's rmse: 0.73467	valid_1's rmse: 1.04715
[8000]	training's rmse: 0.73115	valid_1's rmse: 1.04706
[8100]	training's rmse: 0.727716	valid_1's rmse: 1.04672
[8200]	training's rmse: 0.725517	valid_1's rmse: 1.04672
[8300]	training's rmse: 0.723142	valid_1's rmse: 1.0464
[8400]	training's rmse: 0.720797	valid_1's rmse: 1.04639
[8500]	training's rmse: 0.717528	valid_1's rmse: 1.04608
[8600]	training's rmse: 0.715303	valid_1's rmse: 1.04622
[8700]	training's rmse: 0.712771	valid_1's rmse: 1.04637
[8800]	training's rmse: 0.709739	valid_1's rmse: 1.04618
[8900]	training's rmse: 0.706649	valid_1's rmse: 1.04618
[9000]	training's rmse: 0.704274	valid_1's rmse: 1.04601
[9100]	training's rmse: 0.702228	valid_1's rmse: 1.04606
[9200]	training's rmse: 0.70005	valid_1's rmse: 1.04598
[9300]	training's rmse: 0.697753	valid_1's rmse: 1.0457
[9400]	training's rmse: 0.69425	valid_1's rmse: 1.04507
[9500]	training's rmse: 0.692312	valid_1's rmse: 1.04522
[9600]	training's rmse: 0.689812	valid_1's rmse: 1.04542
[9700]	training's rmse: 0.686977	valid_1's rmse: 1.04522
[9800]	training's rmse: 0.684495	valid_1's rmse: 1.04536
[9900]	training's rmse: 0.681896	valid_1's rmse: 1.04491
[10000]	training's rmse: 0.680388	valid_1's rmse: 1.04542
[10100]	training's rmse: 0.677887	valid_1's rmse: 1.04544
[10200]	training's rmse: 0.675371	valid_1's rmse: 1.04554
[10300]	training's rmse: 0.673928	valid_1's rmse: 1.04574
[10400]	training's rmse: 0.672401	valid_1's rmse: 1.04596
[10500]	training's rmse: 0.671183	valid_1's rmse: 1.04604
[10600]	training's rmse: 0.669003	valid_1's rmse: 1.046
[10700]	training's rmse: 0.66713	valid_1's rmse: 1.04608
[10800]	training's rmse: 0.665272	valid_1's rmse: 1.04616
[10900]	training's rmse: 0.664291	valid_1's rmse: 1.04626
[11000]	training's rmse: 0.662176	valid_1's rmse: 1.04598
[11100]	training's rmse: 0.658918	valid_1's rmse: 1.04561
[11200]	training's rmse: 0.655785	valid_1's rmse: 1.04584
[11300]	training's rmse: 0.653003	valid_1's rmse: 1.0458
[11400]	training's rmse: 0.65048	valid_1's rmse: 1.04595
[11500]	training's rmse: 0.647688	valid_1's rmse: 1.04573
[11600]	training's rmse: 0.644954	valid_1's rmse: 1.04581
[11700]	training's rmse: 0.642368	valid_1's rmse: 1.04585
[11800]	training's rmse: 0.640722	valid_1's rmse: 1.04566
[11900]	training's rmse: 0.638758	valid_1's rmse: 1.04578
[12000]	training's rmse: 0.636492	valid_1's rmse: 1.04571
[12100]	training's rmse: 0.63426	valid_1's rmse: 1.04566
[12200]	training's rmse: 0.632603	valid_1's rmse: 1.04567
[12300]	training's rmse: 0.631536	valid_1's rmse: 1.04595
[12400]	training's rmse: 0.630506	valid_1's rmse: 1.04627
[12500]	training's rmse: 0.628126	valid_1's rmse: 1.04623
[12600]	training's rmse: 0.625875	valid_1's rmse: 1.04629
[12700]	training's rmse: 0.624167	valid_1's rmse: 1.04636
[12800]	training's rmse: 0.621941	valid_1's rmse: 1.04634
[12900]	training's rmse: 0.620026	valid_1's rmse: 1.04634
[13000]	training's rmse: 0.618747	valid_1's rmse: 1.0465
[13100]	training's rmse: 0.616819	valid_1's rmse: 1.04667
[13200]	training's rmse: 0.614836	valid_1's rmse: 1.04657
[13300]	training's rmse: 0.613332	valid_1's rmse: 1.04678
[13400]	training's rmse: 0.61137	valid_1's rmse: 1.04658
[13500]	training's rmse: 0.609165	valid_1's rmse: 1.04677
[13600]	training's rmse: 0.607352	valid_1's rmse: 1.04705
[13700]	training's rmse: 0.605696	valid_1's rmse: 1.04695
[13800]	training's rmse: 0.604674	valid_1's rmse: 1.04715
[13900]	training's rmse: 0.602951	valid_1's rmse: 1.0472
[14000]	training's rmse: 0.601853	valid_1's rmse: 1.04749
[14100]	training's rmse: 0.599935	valid_1's rmse: 1.04756
[14200]	training's rmse: 0.598056	valid_1's rmse: 1.04739
[14300]	training's rmse: 0.596166	valid_1's rmse: 1.04736
[14400]	training's rmse: 0.59484	valid_1's rmse: 1.0477
[14500]	training's rmse: 0.593348	valid_1's rmse: 1.04779
[14600]	training's rmse: 0.592277	valid_1's rmse: 1.04817
[14700]	training's rmse: 0.591047	valid_1's rmse: 1.04806
[14800]	training's rmse: 0.589405	valid_1's rmse: 1.04825
[14900]	training's rmse: 0.587895	valid_1's rmse: 1.04846
[15000]	training's rmse: 0.586004	valid_1's rmse: 1.04846
[15100]	training's rmse: 0.584869	valid_1's rmse: 1.04848
[15200]	training's rmse: 0.583174	valid_1's rmse: 1.04859
[15300]	training's rmse: 0.581123	valid_1's rmse: 1.04873
[15400]	training's rmse: 0.579236	valid_1's rmse: 1.04876
[15500]	training's rmse: 0.577819	valid_1's rmse: 1.04905
[15600]	training's rmse: 0.5765	valid_1's rmse: 1.04895
[15700]	training's rmse: 0.574739	valid_1's rmse: 1.04894
[15800]	training's rmse: 0.573217	valid_1's rmse: 1.04897
[15900]	training's rmse: 0.571675	valid_1's rmse: 1.04891
[16000]	training's rmse: 0.570248	valid_1's rmse: 1.04899
[16100]	training's rmse: 0.569085	valid_1's rmse: 1.04911
[16200]	training's rmse: 0.567739	valid_1's rmse: 1.04923
[16300]	training's rmse: 0.566022	valid_1's rmse: 1.0492
[16400]	training's rmse: 0.564196	valid_1's rmse: 1.0493
[16500]	training's rmse: 0.562585	valid_1's rmse: 1.0494
[16600]	training's rmse: 0.560514	valid_1's rmse: 1.04932
[16700]	training's rmse: 0.558583	valid_1's rmse: 1.04933
[16800]	training's rmse: 0.556906	valid_1's rmse: 1.04915
[16900]	training's rmse: 0.555597	valid_1's rmse: 1.04902
[17000]	training's rmse: 0.55405	valid_1's rmse: 1.04905
[17100]	training's rmse: 0.552482	valid_1's rmse: 1.04914
[17200]	training's rmse: 0.551421	valid_1's rmse: 1.04928
[17300]	training's rmse: 0.55006	valid_1's rmse: 1.0493
[17400]	training's rmse: 0.548172	valid_1's rmse: 1.04917
[17500]	training's rmse: 0.546164	valid_1's rmse: 1.04924
[17600]	training's rmse: 0.544691	valid_1's rmse: 1.04938
[17700]	training's rmse: 0.542959	valid_1's rmse: 1.04923
[17800]	training's rmse: 0.54188	valid_1's rmse: 1.04931
[17900]	training's rmse: 0.540498	valid_1's rmse: 1.04917
[18000]	training's rmse: 0.539308	valid_1's rmse: 1.04929
[18100]	training's rmse: 0.53813	valid_1's rmse: 1.04936
[18200]	training's rmse: 0.536656	valid_1's rmse: 1.04929
[18300]	training's rmse: 0.534992	valid_1's rmse: 1.04917
[18400]	training's rmse: 0.533892	valid_1's rmse: 1.04902
[18500]	training's rmse: 0.532162	valid_1's rmse: 1.04915
[18600]	training's rmse: 0.531129	valid_1's rmse: 1.0493
[18700]	training's rmse: 0.529884	valid_1's rmse: 1.04923
[18800]	training's rmse: 0.528825	valid_1's rmse: 1.04928
[18900]	training's rmse: 0.527925	valid_1's rmse: 1.04933
[19000]	training's rmse: 0.526302	valid_1's rmse: 1.04936
[19100]	training's rmse: 0.524722	valid_1's rmse: 1.04939
[19200]	training's rmse: 0.523241	valid_1's rmse: 1.04943
[19300]	training's rmse: 0.522179	valid_1's rmse: 1.0496
[19400]	training's rmse: 0.520919	valid_1's rmse: 1.04959
[19500]	training's rmse: 0.519491	valid_1's rmse: 1.04963
[19600]	training's rmse: 0.518024	valid_1's rmse: 1.04958
[19700]	training's rmse: 0.51687	valid_1's rmse: 1.04942
[19800]	training's rmse: 0.515666	valid_1's rmse: 1.04968
[19900]	training's rmse: 0.514816	valid_1's rmse: 1.04957
[20000]	training's rmse: 0.51349	valid_1's rmse: 1.04949
[20100]	training's rmse: 0.51228	valid_1's rmse: 1.04963
[20200]	training's rmse: 0.510943	valid_1's rmse: 1.0498
[20300]	training's rmse: 0.509961	valid_1's rmse: 1.04998
[20400]	training's rmse: 0.508402	valid_1's rmse: 1.05006
[20500]	training's rmse: 0.507278	valid_1's rmse: 1.05014
[20600]	training's rmse: 0.50588	valid_1's rmse: 1.05027
[20700]	training's rmse: 0.505543	valid_1's rmse: 1.05042
[20800]	training's rmse: 0.505046	valid_1's rmse: 1.05048
[20900]	training's rmse: 0.503572	valid_1's rmse: 1.05078
[21000]	training's rmse: 0.502495	valid_1's rmse: 1.05086
[21100]	training's rmse: 0.501574	valid_1's rmse: 1.05095
[21200]	training's rmse: 0.500853	valid_1's rmse: 1.05085
[21300]	training's rmse: 0.499207	valid_1's rmse: 1.051
[21400]	training's rmse: 0.497974	valid_1's rmse: 1.05119

KeyboardInterrupt:

In [ ]:
from make_data import make_oof
oof_df = make_oof(OUTPUT_DIR=OUTPUT_DIR, TARGET=cfg['target'])

In [ ]:
# from score import calc_macro_auc
# score = calc_macro_auc(train_target_df=train_target_df, oof_df=oof_df, order_list=TARGET_IDS)

In [ ]:
sample_sub = pd.read_csv('../../data/atmacup10__sample_submission.csv')

In [ ]:
from make_data import make_sub
sub_df = make_sub(sample_sub=sample_sub, TARGET_NAME=cfg['target'], TRIAL_NAME=TRIAL_NAME, OUTPUT_DIR=OUTPUT_DIR, cv_score=lgbm.score)

In [ ]:
sub_df.describe()

In [ ]:
from make_fig import make_dist_oof_pred
make_dist_oof_pred(oof_df=oof_df,sub_df=sub_df,OUTPUT_DIR=OUTPUT_DIR)