In [1]:
# %load_ext autoreload
# %autoreload 2

# Set Trial Name

In [2]:
TRIAL_NAME = "30_use_max_depth-1"

import datetime
import pytz
NOW = datetime.datetime.now(pytz.timezone('Asia/Tokyo')).strftime('%Y%m%d%H%M%S')

# Load yaml

In [3]:
import yaml
CONFIG_DIR = '../config'
with open(f'{CONFIG_DIR}/run000.yml') as file:
    cfg = yaml.safe_load(file)

import sys
sys.path.append(cfg['SRC_DIR'])
cfg['run_name'] = TRIAL_NAME

# fix seed

In [4]:
from util import seed_everything
seed_everything(seed=33, use_torch=False)

# Make Output Folder

In [5]:
import os
OUTPUT_DIR = f'../../output/{NOW}_{TRIAL_NAME}'
os.makedirs(OUTPUT_DIR, exist_ok=True)

# Load Model

In [6]:
import pandas as pd
import numpy as np

sub = pd.read_csv('../../data/atmacup10__sample_submission.csv')
color = pd.read_csv('../../data/color.csv')
historical_person = pd.read_csv('../../data/historical_person.csv')
maker = pd.read_csv('../../data/maker.csv')
material = pd.read_csv('../../data/material.csv')
object_collection = pd.read_csv('../../data/object_collection.csv')
palette = pd.read_csv('../../data/palette.csv')
principal_maker_occupation = pd.read_csv('../../data/principal_maker_occupation.csv')
principal_maker = pd.read_csv('../../data/principal_maker.csv')
production_place = pd.read_csv('../../data/production_place.csv')
technique = pd.read_csv('../../data/technique.csv')
test = pd.read_csv('../../data/test.csv')
test[cfg['target']] = np.nan
train = pd.read_csv('../../data/train.csv')

In [7]:
train.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,0011d6be41612ec9eae3,93c092ba70beab248f31,The Avenue of Birches,NaN,"The Avenue of Birches, Jan Hackaert, 1660 - 1685",Jan Hackaert,Jan Hackaert,h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm,NaN,The Avenue of Birches,purchase,1808-01-01T00:00:00,NaN,1660 - 1685,1660.0,17,1660.0,1685.0,48
1,0012765f7a97ccc3e9e9,95c14fb11c54281ad7e0,Struik in bloei,NaN,"Struik in bloei, Richard Tepe (attributed to),...",Richard Tepe,Richard Tepe,h 165mm × w 223mm,erven Richard Tepe,Struik in bloei,purchase,2000-01-01T00:00:00,NaN,c. 1900 - c. 1930,1900.0,19,1900.0,1930.0,2

In [8]:
test.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,000405d9a5e3f49fc49d,a2aabd3cc8859f4260ad,Twee personen voor de Duizendjarige den te Wol...,NaN,Twee personen voor de Duizendjarige den te Wol...,Bernardus Bruining,Bernardus Bruining,h 167mm × w 108mm,NaN,Twee personen voor de Duizendjarige den te Wol...,transfer,1994-01-01T00:00:00,NaN,1850 - 1900,1850.0,19,1850.0,1900.0,NaN
1,001020bd00b149970f78,5d6a286cc3ab64c2c043,"Portrait of Philipp Ernst, Count of Hohenlohe ...","Portret van Philip Ernst (1585-1629), graaf va...","Portrait of Philipp Ernst, Count of Hohenlohe ...",Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,h 29.7cm × w 24.1cm,NaN,"Portrait of Philipp Ernst, Count of Hohenlohe ...",nationalization 1795,1798-09-01T00:00:00,NaN,c. 1609 - c. 1633,1609.0,17,1609.0,1633.0,NaN

# del_non_overlapping_list

In [9]:
del_non_overlapping_list = [
    # 'object_id',
    'art_series_id',
    #'title',
    #'description',
    #'long_title',
    'principal_maker',
    'principal_or_first_maker',
    #'sub_title',
    'copyright_holder',
    #'more_title',
    'acquisition_method',
    # 'acquisition_date',
    # 'acquisition_credit_line',
    # 'dating_presenting_date',
    # 'dating_sorting_date',
    'dating_period',
    # 'dating_year_early',
    # 'dating_year_late'
]

from util import replace_non_overlap_val_to_missing
train, test = replace_non_overlap_val_to_missing(train,test,columns=del_non_overlapping_list)

In [10]:
train.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,0011d6be41612ec9eae3,other,The Avenue of Birches,NaN,"The Avenue of Birches, Jan Hackaert, 1660 - 1685",Jan Hackaert,Jan Hackaert,h 66.5cm × w 53.7cm × t 2.5cm × d 4.7cm,missing,The Avenue of Birches,purchase,1808-01-01T00:00:00,NaN,1660 - 1685,1660.0,17,1660.0,1685.0,48
1,0012765f7a97ccc3e9e9,other,Struik in bloei,NaN,"Struik in bloei, Richard Tepe (attributed to),...",Richard Tepe,Richard Tepe,h 165mm × w 223mm,erven Richard Tepe,Struik in bloei,purchase,2000-01-01T00:00:00,NaN,c. 1900 - c. 1930,1900.0,19,1900.0,1930.0,2

In [11]:
test.head(2)

,object_id,art_series_id,title,description,long_title,principal_maker,principal_or_first_maker,sub_title,copyright_holder,more_title,acquisition_method,acquisition_date,acquisition_credit_line,dating_presenting_date,dating_sorting_date,dating_period,dating_year_early,dating_year_late,likes
0,000405d9a5e3f49fc49d,other,Twee personen voor de Duizendjarige den te Wol...,NaN,Twee personen voor de Duizendjarige den te Wol...,Bernardus Bruining,Bernardus Bruining,h 167mm × w 108mm,missing,Twee personen voor de Duizendjarige den te Wol...,transfer,1994-01-01T00:00:00,NaN,1850 - 1900,1850.0,19,1850.0,1900.0,NaN
1,001020bd00b149970f78,other,"Portrait of Philipp Ernst, Count of Hohenlohe ...","Portret van Philip Ernst (1585-1629), graaf va...","Portrait of Philipp Ernst, Count of Hohenlohe ...",Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,h 29.7cm × w 24.1cm,missing,"Portrait of Philipp Ernst, Count of Hohenlohe ...",nationalization 1795,1798-09-01T00:00:00,NaN,c. 1609 - c. 1633,1609.0,17,1609.0,1633.0,NaN

In [12]:
def del_non_overlapping(input_df: pd.DataFrame()):
    # for material
    train_oblect_id = train['object_id'].unique().tolist()
    test_oblect_id = test['object_id'].unique().tolist()

    train_value = set(input_df[input_df['object_id'].isin(train_oblect_id)]['name'].unique().tolist())
    test_value = set(input_df[input_df['object_id'].isin(test_oblect_id)]['name'].unique().tolist())

    common_value_list = list(train_value & test_value)

    return input_df[input_df['name'].isin(common_value_list)]

material = del_non_overlapping(material)
historical_person = del_non_overlapping(historical_person)
object_collection = del_non_overlapping(object_collection)
production_place = del_non_overlapping(production_place)

# Merge Data

In [13]:
group = train.groupby('principal_maker')

agg_df = pd.concat([
    group.size().rename('size'), # 著者が何回出てくるか. (value_counts と同じです)
    group['sub_title'].nunique().rename('sub_title_num'), # 著者ごとに何種類の sub_title を持っているか
    group['dating_sorting_date'].agg(['min', 'max', 'mean']), # 著者ごとに描いた年度の最小・最大・平均 (agg に配列を渡すと同時に複数やってくれます)
], axis=1)

agg_df.head()

                 size  sub_title_num     min     max    mean
principal_maker
A. Böeseken         5              5  1858.0  1873.0  1865.8
A. Lutz             1              1  1825.0  1825.0  1825.0
A. Mansuy           2              2  1860.0  1860.0  1860.0
A. Nissen           3              1  1860.0  1860.0  1860.0
A. Roussel          1              1  1905.0  1905.0  1905.0

In [14]:
train = pd.merge(train, 
         agg_df,
         on='principal_maker', 
         how='left')

test = pd.merge(test, 
         agg_df,
         on='principal_maker', 
         how='left')

In [15]:
train.columns

Index(['object_id', 'art_series_id', 'title', 'description', 'long_title',
       'principal_maker', 'principal_or_first_maker', 'sub_title',
       'copyright_holder', 'more_title', 'acquisition_method',
       'acquisition_date', 'acquisition_credit_line', 'dating_presenting_date',
       'dating_sorting_date', 'dating_period', 'dating_year_early',
       'dating_year_late', 'likes', 'size', 'sub_title_num', 'min', 'max',
       'mean'],
      dtype='object')

# Feature Enginnering

In [16]:
def create_object_feature(input_df):        
    return input_df['likes'].copy()

create_object_feature(test).head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: likes, dtype: float64

In [17]:
def create_numeric_feature(input_df):
    use_columns = [
        'dating_period',
        'dating_year_early',
        'dating_year_late'
    ]

    return input_df[use_columns].copy()

create_numeric_feature(train).head(2)

   dating_period  dating_year_early  dating_year_late
0             17             1660.0            1685.0
1             19             1900.0            1930.0

In [18]:
def create_categorical_feature(input_df):
    use_columns = [
    'art_series_id',
    'principal_maker',
    'principal_or_first_maker',
    'copyright_holder',
    'acquisition_method',
    ]

    return input_df[use_columns].copy()

create_categorical_feature(train).head(2)

,art_series_id,principal_maker,principal_or_first_maker,copyright_holder,acquisition_method
0,other,Jan Hackaert,Jan Hackaert,missing,purchase
1,other,Richard Tepe,Richard Tepe,erven Richard Tepe,purchase

In [19]:
import pycld2 as cld2

def create_lang_info(input_df):
    
    out_df = pd.DataFrame()
    
    out_df["title_lang"] = input_df["title"].fillna("").map(lambda x: cld2.detect(x)[2][0][1])
    return out_df

create_lang_info(train).head(2)

  title_lang
0         en
1         un

In [20]:
def create_maker_feature(input_df):
    # 本当は時間の処理とかすべき。
    merge_df = pd.merge(input_df['principal_maker'], maker, left_on='principal_maker', right_on='name',how='left')
    merge_df = merge_df.fillna('missing')
    return merge_df.iloc[:,2:]

create_maker_feature(train).head(2)

  place_of_birth date_of_birth date_of_death place_of_death nationality
0      Amsterdam          1628          1705      Amsterdam     missing
1      Amsterdam          1864          1952      Apeldoorn     missing

In [21]:
def create_material_feature(input_df):
    
    out_df = pd.DataFrame()
    
#     vc = material['name'].value_counts()
    
#     # 出現回数30以上に絞る
#     use_names = vc[vc >= 30].index
    
#     # isin で 30 回以上でてくるようなレコードに絞り込んでから crosstab を行なう
#     idx = material['name'].isin(use_names)
#     material_only_frequent = material[idx].reset_index(drop=True)
        
#     cross_material = pd.crosstab(material_only_frequent['object_id'], material_only_frequent['name']).reset_index()
#     input_cross_material = pd.merge(input_df['object_id'], cross_material, on='object_id',how='left')
#     return input_cross_material.iloc[:,1:].add_prefix('Materials_')

    material_w2v = pd.read_csv('../../../my_pipeline/extract_data/material_w2v.csv')
    material_collection_w2v = pd.read_csv('../../../my_pipeline/extract_data/material_collection_w2v.csv')
    material_technique_w2v = pd.read_csv('../../../my_pipeline/extract_data/material_technique_w2v.csv')
    material_collection_technique_w2v = pd.read_csv('../../../my_pipeline/extract_data/material_collection_technique_w2v.csv')
    
    out_df = pd.merge(input_df['object_id'], material_w2v, on='object_id', how='left')
    out_df = pd.merge(out_df, material_collection_w2v, on='object_id', how='left')
    out_df = pd.merge(out_df, material_technique_w2v, on='object_id', how='left')
    out_df = pd.merge(out_df, material_collection_technique_w2v, on='object_id', how='left')
    
    return out_df.iloc[:,1:]

create_material_feature(train).head(2)

,material_w2v_0,material_w2v_1,material_w2v_2,material_w2v_3,material_w2v_4,material_w2v_5,material_w2v_6,material_w2v_7,material_w2v_8,material_w2v_9,...,material_collection_technique_w2v_15,material_collection_technique_w2v_16,material_collection_technique_w2v_17,material_collection_technique_w2v_18,material_collection_technique_w2v_19,material_collection_technique_w2v_20,material_collection_technique_w2v_21,material_collection_technique_w2v_22,material_collection_technique_w2v_23,material_collection_technique_w2v_24
0,-0.545132,-0.147377,0.240518,-0.59858,0.926731,-0.397336,0.409738,-0.340615,0.413011,0.584755,...,-0.117121,-1.228490,-0.235443,0.646179,-0.315241,-0.543984,-0.760618,0.701250,0.143690,-0.616590
1,-0.027486,-1.230262,-0.956199,0.41623,1.135622,-0.761411,0.242856,0.504966,0.349225,-0.946225,...,-0.361791,0.786388,-0.055727,0.163526,0.360084,0.632368,-0.790527,-0.949819,-0.026492,0.491439

In [22]:
def create_object_collection_feature(input_df):
#     vc = object_collection['name'].value_counts()
    
#     # 出現回数30以上に絞る
#     use_names = vc[vc >= 0].index
    
#     # isin で 30 回以上でてくるようなレコードに絞り込んでから crosstab を行なう
#     idx = object_collection['name'].isin(use_names)
#     object_collection_only_frequent = object_collection[idx].reset_index(drop=True)
#     #print(historical_person_only_famous)
        
#     cross_object_collection = pd.crosstab(object_collection_only_frequent['object_id'], object_collection_only_frequent['name']).reset_index()
    
#     input_object_collection = pd.merge(input_df['object_id'], cross_object_collection, on='object_id',how='left')
#     return input_object_collection.iloc[:,1:].add_prefix('ObjectCollection_')
    collection_w2v = pd.read_csv('../../../my_pipeline/extract_data/collection_w2v.csv')
    collection_technique_w2v = pd.read_csv('../../../my_pipeline/extract_data/collection_technique_w2v.csv')
    
    out_df = pd.merge(input_df['object_id'], collection_w2v, on='object_id', how='left')
    out_df = pd.merge(out_df, collection_technique_w2v, on='object_id', how='left')
    
    return out_df.iloc[:,1:]
  
create_object_collection_feature(train).head()

,collection_w2v_0,collection_w2v_1,collection_w2v_2,collection_technique_w2v_0,collection_technique_w2v_1,collection_technique_w2v_2,collection_technique_w2v_3,collection_technique_w2v_4,collection_technique_w2v_5,collection_technique_w2v_6,collection_technique_w2v_7,collection_technique_w2v_8,collection_technique_w2v_9
0,-0.193419,-1.010212,-1.017874,0.491206,-1.607603,-1.562456,-0.059885,1.680959,-0.408869,0.204736,-0.059419,0.202078,-1.559366
1,NaN,NaN,NaN,0.010084,-0.242878,-0.279431,0.060006,0.442113,0.165745,0.153496,-0.195275,0.060197,-0.314152
2,NaN,NaN,NaN,0.113399,-0.360466,-0.445252,-0.061256,0.591162,0.108235,0.235441,-0.219650,0.039902,-0.464797
3,-0.193419,-1.010212,-1.017874,0.491206,-1.607603,-1.562456,-0.059885,1.680959,-0.408869,0.204736,-0.059419,0.202078,-1.559366
4,-0.193419,-1.010212,-1.017874,0.491206,-1.607603,-1.562456,-0.059885,1.680959,-0.408869,0.204736,-0.059419,0.202078,-1.559366

In [23]:
def create_technique_feature(input_df):
#     vc = technique['name'].value_counts()
    
#     # 出現回数30以上に絞る
#     use_names = vc[vc >= 30].index
    
#     # isin で 30 回以上でてくるようなレコードに絞り込んでから crosstab を行なう
#     idx = technique['name'].isin(use_names)
#     technique_only_frequent = technique[idx].reset_index(drop=True)
#     #print(historical_person_only_famous)
        
#     cross_technique = pd.crosstab(technique_only_frequent['object_id'], technique_only_frequent['name']).reset_index()
    
#     input_technique = pd.merge(input_df['object_id'], cross_technique, on='object_id',how='left')
#     return input_technique.iloc[:,1:].add_prefix('Technique_')
    technique_w2v = pd.read_csv('../../../my_pipeline/extract_data/technique_w2v.csv')
    
    out_df = pd.merge(input_df['object_id'], technique_w2v, on='object_id', how='left')
    
    return out_df.iloc[:,1:]
  
create_technique_feature(train).head(2)

,technique_w2v_0,technique_w2v_1,technique_w2v_2,technique_w2v_3,technique_w2v_4,technique_w2v_5,technique_w2v_6,technique_w2v_7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.341411,-0.426532,0.120162,0.030923,0.33989,-0.12762,-0.085258,0.111635

In [24]:
def create_historical_person_feature(input_df):
    vc = historical_person['name'].value_counts()
    
    # 出現回数30以上に絞る
    use_names = vc[vc >= 30].index
    
    # isin で 30 回以上でてくるようなレコードに絞り込んでから crosstab を行なう
    idx = historical_person['name'].isin(use_names)
    historical_person_only_famous = historical_person[idx].reset_index(drop=True)
    #print(historical_person_only_famous)
        
    cross_historical_person = pd.crosstab(historical_person_only_famous['object_id'], historical_person_only_famous['name']).reset_index()
    
    input_historical_person = pd.merge(input_df['object_id'], cross_historical_person, on='object_id',how='left')
    input_historical_person.columns = [col.replace(',','') for col in input_historical_person.columns]
    return input_historical_person.iloc[:,1:].add_prefix('HistoricalPerson_')
  
create_historical_person_feature(train).head(2)

,HistoricalPerson_Djatiroto Suikeronderneming,HistoricalPerson_Frederik Hendrik (prins van Oranje),HistoricalPerson_Handels Vereeniging Amsterdam,HistoricalPerson_Jacobus II (koning van Engeland en Schotland),HistoricalPerson_Lodewijk XIV (koning van Frankrijk),HistoricalPerson_Maria II Stuart (koningin van Engeland Schotland en Ierland),HistoricalPerson_Maurits (prins van Oranje),HistoricalPerson_Musschenbroek Sam van,HistoricalPerson_Oldenbarnevelt Johan van,HistoricalPerson_Ruyter Michiel Adriaansz. de,...,HistoricalPerson_Wilhelm II (keizer van Duitsland),HistoricalPerson_Wilhelmina (koningin der Nederlanden),HistoricalPerson_Willem I (prins van Oranje),HistoricalPerson_Willem III (koning der Nederlanden),HistoricalPerson_Willem III (prins van Oranje en koning van Engeland Schotland en Ierland),HistoricalPerson_Willem V (prins van Oranje-Nassau),HistoricalPerson_Wirix F.J.,HistoricalPerson_Witt Cornelis de,HistoricalPerson_Witt Johan de,HistoricalPerson_Álvarez de Toledo Fernando (3e hertog van Alva)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def create_production_place_feature(input_df):
    vc = production_place['name'].value_counts()
    
    # 出現回数30以上に絞る
    use_names = vc[vc >= 30].index
    
    # isin で 30 回以上でてくるようなレコードに絞り込んでから crosstab を行なう
    idx = production_place['name'].isin(use_names)
    production_place_only_frequent = production_place[idx].reset_index(drop=True)
    #print(historical_person_only_famous)
        
    cross_production_place = pd.crosstab(production_place_only_frequent['object_id'], production_place_only_frequent['name']).reset_index()
    
    input_production_place = pd.merge(input_df['object_id'], cross_production_place, on='object_id',how='left')
    
    input_production_place.columns = [col.replace(',','') for col in input_production_place.columns]
    return input_production_place.iloc[:,1:].add_prefix('ProductionPlace_')
  
create_production_place_feature(train).head(2)

,ProductionPlace_? France,ProductionPlace_? Java,ProductionPlace_? Netherlands,ProductionPlace_Amsterdam,ProductionPlace_Antwerp,ProductionPlace_Arnhem,ProductionPlace_Batavia,ProductionPlace_Belgium,ProductionPlace_Berlin,ProductionPlace_Brussels,...,ProductionPlace_Sumatra,ProductionPlace_Surabaya,ProductionPlace_Suriname,ProductionPlace_Switzerland,ProductionPlace_The Hague,ProductionPlace_United States of America,ProductionPlace_Utrecht,ProductionPlace_Venice,ProductionPlace_Vienna,ProductionPlace_unknown
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
import datetime

def create_acquisition_feature(input_df):
    out_df = pd.DataFrame()
    
    use_columns = [
        'acquisition_date'
    ]
    
    out_df['year'] = pd.to_datetime(input_df['acquisition_date']).dt.year
    out_df['month'] = pd.to_datetime(input_df['acquisition_date']).dt.month
    out_df['dayofweek'] = pd.to_datetime(input_df['acquisition_date']).dt.dayofweek
    out_df['sum_time'] =  10**10 - pd.to_datetime(input_df['acquisition_date']).view('int') // 10**9
    
    return out_df.add_prefix('AcquisitionDate_')

create_acquisition_feature(train).head(2)

,AcquisitionDate_year,AcquisitionDate_month,AcquisitionDate_dayofweek,AcquisitionDate_sum_time
0,1808.0,1.0,4.0,15112288000
1,2000.0,1.0,5.0,9053315200

In [27]:
def create_string_length_feature(input_df):
    out_df = pd.DataFrame()

    str_columns = [
        'title', 
        'long_title',
        'sub_title',
        'more_title',
        'description',
        'principal_maker',
        'principal_or_first_maker'
    ]

    for c in str_columns:
        out_df[c] = input_df[c].str.len()

    return out_df.add_prefix('StringLength__')

create_string_length_feature(train).head(2)

,StringLength__title,StringLength__long_title,StringLength__sub_title,StringLength__more_title,StringLength__description,StringLength__principal_maker,StringLength__principal_or_first_maker
0,21,48,39.0,21.0,NaN,12,12
1,15,64,17.0,15.0,NaN,12,12

In [28]:
def create_count_encoding_feature(input_df):
    use_columns = [
        'acquisition_method',
        'acquisition_date',
        'acquisition_credit_line',
        'art_series_id', 
        'principal_maker',
        'principal_or_first_maker',
        'description', 
        'dating_presenting_date',
        'dating_sorting_date',
        'dating_period',
        'dating_year_early',
        'dating_year_late',
        'title',
        'long_title',
        'sub_title',
        'copyright_holder',
        'more_title',
    ]

    out_df = pd.DataFrame()
    for column in use_columns:
        vc = train[column].value_counts()
        out_df[column] = input_df[column].map(vc)

    return out_df.add_prefix('CE_')

create_count_encoding_feature(train).head(2)

,CE_acquisition_method,CE_acquisition_date,CE_acquisition_credit_line,CE_art_series_id,CE_principal_maker,CE_principal_or_first_maker,CE_description,CE_dating_presenting_date,CE_dating_sorting_date,CE_dating_period,CE_dating_year_early,CE_dating_year_late,CE_title,CE_long_title,CE_sub_title,CE_copyright_holder,CE_more_title
0,4253,48.0,NaN,12026,3,3,NaN,3.0,65.0,3005,65.0,30.0,1,1,1.0,11313,1.0
1,4253,231.0,NaN,12026,180,180,NaN,77.0,321.0,5042,321.0,214.0,1,1,1.0,180,1.0

In [29]:
# def create_one_hot_encoding(input_df):
#     use_columns = [
#         'acquisition_method',
#         'principal_maker'
#     ]
#     out_df = pd.DataFrame()
#     for column in use_columns:

#         # あまり巨大な行列にならないよう, 出現回数が 20 回を下回るカテゴリは考慮しない
#         vc = train[column].value_counts()
#         vc = vc[vc > 20]

#         # 明示的に catgories を指定して, input_df によらず列の大きさが等しくなるようにする
#         cat = pd.Categorical(input_df[column], categories=vc.index)

#         # このタイミングで one-hot 化
#         out_i = pd.get_dummies(cat)
#         # column が Catgory 型として認識されているので list にして解除する (こうしないと concat でエラーになる)
#         out_i.columns = out_i.columns.tolist()
#         out_i = out_i.add_prefix(f'{column}=')
#         out_df = pd.concat([out_df, out_i], axis=1)
#     return out_df

# create_one_hot_encoding(train).head(2)

In [30]:
import re

#  h 166mm × w 78/54mm

def get_h_from_subtitle(text:str):
    match_cm = re.search(r'h \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'h \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100

def get_w_from_subtitle(text:str):
    match_cm = re.search(r'w \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'w \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        elif match_mm.group()[2:-2] == '78/54':
            return float(78)
        else:
            return float(match_mm.group()[2:-2])/100    

def get_t_from_subtitle(text:str):
    match_cm = re.search(r't \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r't \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100   

def get_d_from_subtitle(text:str):
    match_cm = re.search(r'd \S+cm', text)
    if match_cm:
        if match_cm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_cm.group()[2:-2])

    match_mm = re.search(r'd \S+mm', text)
    if match_mm:
        if match_mm.group()[2:-2] == '':
            return np.nan
        else:
            return float(match_mm.group()[2:-2])/100   
        
def create_subtitle_info(input_df):
    out_df = pd.DataFrame()
     
    out_df['subtitle_h'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_h_from_subtitle(x))
    out_df['subtitle_w'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_w_from_subtitle(x))
    out_df['subtitle_t'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_t_from_subtitle(x))
    out_df['subtitle_d'] = input_df['sub_title'].fillna('missing').apply(lambda x : get_d_from_subtitle(x))
    
    out_df['area'] = out_df['subtitle_h'] * out_df['subtitle_w']
    out_df['volume'] = out_df['subtitle_h'] * out_df['subtitle_w'] * out_df['subtitle_t']

    return out_df

create_subtitle_info(test).head(2)

   subtitle_h  subtitle_w  subtitle_t  subtitle_d      area  volume
0        1.67        1.08         NaN         NaN    1.8036     NaN
1       29.70       24.10         NaN         NaN  715.7700     NaN

In [31]:
from util import use_pca

def create_description_emb(input_df):
    out_df = pd.DataFrame()
    
    all_emb_df = pd.read_pickle('../../extract_data/all_description_emb_multilingual.pkl')

    emb_df_256 = use_pca(all_emb_df.iloc[:,1:], 256)
    all_emb_df_256 = pd.concat((all_emb_df['object_id'], emb_df_256), axis=1)
    
    input_word_emb = pd.merge(input_df['object_id'], all_emb_df_256, on='object_id', how='left')
    
    # return input_word_emb[[num for num in range(768)]].add_prefix('DescriptionEmb_')
    return input_word_emb[[f'pca_{num}' for num in range(256)]].add_prefix('DescriptionEmb_')

create_description_emb(test).tail(2)

,DescriptionEmb_pca_0,DescriptionEmb_pca_1,DescriptionEmb_pca_2,DescriptionEmb_pca_3,DescriptionEmb_pca_4,DescriptionEmb_pca_5,DescriptionEmb_pca_6,DescriptionEmb_pca_7,DescriptionEmb_pca_8,DescriptionEmb_pca_9,...,DescriptionEmb_pca_246,DescriptionEmb_pca_247,DescriptionEmb_pca_248,DescriptionEmb_pca_249,DescriptionEmb_pca_250,DescriptionEmb_pca_251,DescriptionEmb_pca_252,DescriptionEmb_pca_253,DescriptionEmb_pca_254,DescriptionEmb_pca_255
12006,4.868668,-2.158478,0.022857,0.005380,-0.005051,-0.033197,-0.030381,0.001403,-0.000757,-0.003157,...,-0.000065,-0.000070,-0.000092,0.000011,0.000046,-0.000033,0.000201,0.000043,-0.000019,-0.000100
12007,-2.857192,-0.279424,-1.757070,-0.255253,-0.783499,-0.267255,-0.262804,-0.261662,0.870814,-0.289136,...,-0.002021,-0.026324,0.001770,-0.004371,0.023271,0.019867,0.020989,0.001674,0.005685,0.004983

In [32]:
from util import use_pca

def create_longtitle_emb(input_df):
    out_df = pd.DataFrame()
    
    all_emb_df = pd.read_pickle('../../extract_data/all_longtitle_emb_multilingual.pkl')

    emb_df_256 = use_pca(all_emb_df.iloc[:,1:], 256)
    all_emb_df_256 = pd.concat((all_emb_df['object_id'], emb_df_256), axis=1)
    
    input_word_emb = pd.merge(input_df['object_id'], all_emb_df_256, on='object_id', how='left')
    
    # return input_word_emb[[num for num in range(768)]].add_prefix('DescriptionEmb_')
    return input_word_emb[[f'pca_{num}' for num in range(256)]].add_prefix('LongTitleEmb_')

create_longtitle_emb(train).tail(2)

,LongTitleEmb_pca_0,LongTitleEmb_pca_1,LongTitleEmb_pca_2,LongTitleEmb_pca_3,LongTitleEmb_pca_4,LongTitleEmb_pca_5,LongTitleEmb_pca_6,LongTitleEmb_pca_7,LongTitleEmb_pca_8,LongTitleEmb_pca_9,...,LongTitleEmb_pca_246,LongTitleEmb_pca_247,LongTitleEmb_pca_248,LongTitleEmb_pca_249,LongTitleEmb_pca_250,LongTitleEmb_pca_251,LongTitleEmb_pca_252,LongTitleEmb_pca_253,LongTitleEmb_pca_254,LongTitleEmb_pca_255
12024,0.134985,0.274561,-0.355268,-0.568043,0.490873,-0.759762,0.800045,0.492067,-0.684613,-0.055676,...,-0.124085,-0.109650,0.011198,0.033917,-0.071648,0.004953,0.036293,-0.151615,0.046661,0.075901
12025,3.315138,0.391916,-0.387957,-0.729398,-0.963973,-1.700651,-0.560261,0.077447,0.027761,-0.265688,...,0.011082,-0.019668,0.018901,-0.077008,-0.060058,-0.031605,0.043291,0.041119,0.057007,0.006189

In [33]:
from util import use_pca

def create_image_feature(input_df):
    out_df = pd.DataFrame()
    
    all_image_feature = pd.read_pickle('../../extract_data/all_image_feature.pkl').reset_index(drop='True')

    all_image_feature_256 = use_pca(all_image_feature.iloc[:,1:], 256)
    all_emb_df_256 = pd.concat([all_image_feature['object_id'], all_image_feature_256], axis=1)
    
    input_image_feature = pd.merge(input_df['object_id'], all_emb_df_256, on='object_id', how='left')
    
    return input_image_feature.iloc[:,1:].add_prefix('ImageFeature_')

create_image_feature(test).head()

,ImageFeature_pca_0,ImageFeature_pca_1,ImageFeature_pca_2,ImageFeature_pca_3,ImageFeature_pca_4,ImageFeature_pca_5,ImageFeature_pca_6,ImageFeature_pca_7,ImageFeature_pca_8,ImageFeature_pca_9,...,ImageFeature_pca_246,ImageFeature_pca_247,ImageFeature_pca_248,ImageFeature_pca_249,ImageFeature_pca_250,ImageFeature_pca_251,ImageFeature_pca_252,ImageFeature_pca_253,ImageFeature_pca_254,ImageFeature_pca_255
0,-0.005688,-0.125414,-0.092007,0.026604,-0.018229,0.295780,-0.048569,-0.108166,-0.001396,0.025950,...,-0.000041,0.000005,-0.000002,-0.000003,-8.197718e-06,-0.000019,2.596269e-05,0.000027,-1.759160e-07,-0.000021
1,0.143516,0.010304,-0.013216,-0.099269,0.077683,0.000408,-0.024514,0.003251,-0.017895,0.026756,...,-0.000188,-0.000226,-0.000289,0.000274,-1.361651e-05,-0.000134,8.338305e-06,0.000019,5.108162e-05,-0.000113
2,-0.106839,-0.035884,0.057630,0.017206,0.004653,-0.036550,0.045559,-0.038160,0.008273,-0.010530,...,-0.000002,0.000011,0.000030,0.000023,8.789310e-06,-0.000038,-2.561328e-05,-0.000008,-2.151892e-05,0.000037
3,-0.074211,-0.043712,0.046767,-0.068886,-0.022720,0.061847,-0.074479,-0.031685,-0.004385,-0.003143,...,0.000103,0.000086,-0.000081,0.000021,-8.381803e-05,0.000036,-3.439582e-05,0.000065,-8.417264e-05,0.000037
4,-0.087378,0.081600,0.005646,-0.009279,-0.023805,-0.010688,0.019533,0.000312,0.003025,-0.002274,...,-0.000009,-0.000006,-0.000022,0.000017,3.912528e-07,-0.000006,-1.654394e-07,-0.000008,-3.870986e-06,-0.000002

In [34]:
# https://github.com/nyk510/vivid/blob/master/vivid/utils.py
from contextlib import contextmanager
from time import time

class Timer:
    def __init__(self, logger=None, format_str='{:.3f}[s]', prefix=None, suffix=None, sep=' '):

        if prefix: format_str = str(prefix) + sep + format_str
        if suffix: format_str = format_str + sep + str(suffix)
        self.format_str = format_str
        self.logger = logger
        self.start = None
        self.end = None

    @property
    def duration(self):
        if self.end is None:
            return 0
        return self.end - self.start

    def __enter__(self):
        self.start = time()

    def __exit__(self, exc_type, exc_val, exc_tb):
        self.end = time()
        out_str = self.format_str.format(self.duration)
        if self.logger:
            self.logger.info(out_str)
        else:
            print(out_str)

In [35]:
from tqdm import tqdm

def to_feature(input_df):
    """input_df を特徴量行列に変換した新しいデータフレームを返す.
    """

    processors = [
        create_object_feature,
        create_numeric_feature,
        create_categorical_feature,
        create_lang_info,
        create_maker_feature,
        create_historical_person_feature,
        create_material_feature,
        create_object_collection_feature,
        create_technique_feature,
        #create_production_place_feature,
        create_acquisition_feature,
        ### create_principal_maker_info_feature,
        create_string_length_feature,
        create_count_encoding_feature,
        #create_one_hot_encoding,
        create_subtitle_info,
        create_description_emb,
        create_longtitle_emb,
        create_image_feature
    ]

    out_df = pd.DataFrame()

    for func in tqdm(processors, total=len(processors)):
        with Timer(prefix='create' + func.__name__ + ' '):
            _df = func(input_df)
        # 長さが等しいことをチェック (ずれている場合, func の実装がおかしい)
        assert len(_df) == len(input_df), func.__name__
        out_df = pd.concat([out_df, _df], axis=1)

    return out_df

train_feat= to_feature(train)
test_feat = to_feature(test)

train = train_feat.copy()
test = test_feat.copy()

 31%|███▏      | 5/16 [00:00<00:00, 42.99it/s]

createcreate_object_feature  0.001[s]
createcreate_numeric_feature  0.001[s]
createcreate_categorical_feature  0.002[s]
createcreate_lang_info  0.077[s]
createcreate_maker_feature  0.019[s]
createcreate_historical_person_feature  0.032[s]

 56%|█████▋    | 9/16 [00:00<00:00, 14.61it/s]

createcreate_material_feature  0.321[s]
createcreate_object_collection_feature  0.058[s]
createcreate_technique_feature  0.031[s]
createcreate_acquisition_feature  0.013[s]
createcreate_string_length_feature  0.024[s]

 75%|███████▌  | 12/16 [00:00<00:00, 15.74it/s]

createcreate_count_encoding_feature  0.057[s]
createcreate_subtitle_info  0.082[s]

 88%|████████▊ | 14/16 [00:01<00:00,  4.93it/s]

createcreate_description_emb  0.913[s]
createcreate_longtitle_emb  0.906[s]

100%|██████████| 16/16 [00:03<00:00,  4.05it/s]
 31%|███▏      | 5/16 [00:00<00:00, 47.64it/s]

createcreate_image_feature  1.130[s]
createcreate_object_feature  0.000[s]
createcreate_numeric_feature  0.003[s]
createcreate_categorical_feature  0.001[s]
createcreate_lang_info  0.071[s]
createcreate_maker_feature  0.013[s]
createcreate_historical_person_feature  0.032[s]

 56%|█████▋    | 9/16 [00:00<00:00, 14.17it/s]

createcreate_material_feature  0.340[s]
createcreate_object_collection_feature  0.062[s]
createcreate_technique_feature  0.031[s]
createcreate_acquisition_feature  0.013[s]

 75%|███████▌  | 12/16 [00:00<00:00, 15.16it/s]

createcreate_string_length_feature  0.029[s]
createcreate_count_encoding_feature  0.063[s]
createcreate_subtitle_info  0.079[s]

 88%|████████▊ | 14/16 [00:01<00:00,  4.85it/s]

createcreate_description_emb  0.925[s]
createcreate_longtitle_emb  0.911[s]

100%|██████████| 16/16 [00:04<00:00,  3.99it/s]

createcreate_image_feature  1.140[s]

In [36]:
train = train.reset_index(drop=True)
test = test.reset_index(drop=True)

# train

In [37]:
train.head(2)

,likes,dating_period,dating_year_early,dating_year_late,art_series_id,principal_maker,principal_or_first_maker,copyright_holder,acquisition_method,title_lang,...,ImageFeature_pca_246,ImageFeature_pca_247,ImageFeature_pca_248,ImageFeature_pca_249,ImageFeature_pca_250,ImageFeature_pca_251,ImageFeature_pca_252,ImageFeature_pca_253,ImageFeature_pca_254,ImageFeature_pca_255
0,48,17,1660.0,1685.0,other,Jan Hackaert,Jan Hackaert,missing,purchase,en,...,0.000035,0.000021,0.000008,-0.000031,-0.000192,-0.000032,0.000007,0.000025,0.000066,0.000016
1,2,19,1900.0,1930.0,other,Richard Tepe,Richard Tepe,erven Richard Tepe,purchase,un,...,0.000024,-0.000039,0.000031,-0.000009,-0.000028,-0.000101,0.000019,-0.000027,0.000016,-0.000045

In [38]:
test.head(2)

,likes,dating_period,dating_year_early,dating_year_late,art_series_id,principal_maker,principal_or_first_maker,copyright_holder,acquisition_method,title_lang,...,ImageFeature_pca_246,ImageFeature_pca_247,ImageFeature_pca_248,ImageFeature_pca_249,ImageFeature_pca_250,ImageFeature_pca_251,ImageFeature_pca_252,ImageFeature_pca_253,ImageFeature_pca_254,ImageFeature_pca_255
0,NaN,19,1850.0,1900.0,other,Bernardus Bruining,Bernardus Bruining,missing,transfer,nl,...,-0.000037,-0.000005,4.936291e-08,-0.000007,0.000016,0.000002,-0.000043,-0.000038,0.000010,0.000007
1,NaN,17,1609.0,1633.0,other,Jan Antonisz van Ravesteyn,Jan Antonisz van Ravesteyn,missing,nationalization 1795,en,...,-0.000249,-0.000391,-8.122326e-06,0.000091,0.000153,0.000073,-0.000043,0.000044,0.000096,0.000135

# reduce mem usage

In [39]:
from util import reduce_mem_usage
train = reduce_mem_usage(train)
test = reduce_mem_usage(test)

Mem. usage decreased to 22.56 Mb (56.4% reduction)
Mem. usage decreased to 22.62 Mb (56.2% reduction)

# del_non_overlapping 2

In [40]:
train, test = replace_non_overlap_val_to_missing(train,test,columns=['title_lang'])

# Lable Encoding

In [41]:
cat_col = train.select_dtypes('O').columns.tolist()

In [42]:
cat_col

['art_series_id',
 'principal_maker',
 'principal_or_first_maker',
 'copyright_holder',
 'acquisition_method',
 'title_lang',
 'place_of_birth',
 'date_of_birth',
 'date_of_death',
 'place_of_death',
 'nationality']

In [43]:
from fe import label_encode
train, test = label_encode(train, test, cat_col)

In [44]:
train.dtypes

likes                     int16
dating_period              int8
dating_year_early       float16
dating_year_late        float16
art_series_id             int64
                         ...
ImageFeature_pca_251    float16
ImageFeature_pca_252    float16
ImageFeature_pca_253    float16
ImageFeature_pca_254    float16
ImageFeature_pca_255    float16
Length: 948, dtype: object

# add fold

In [45]:
from fold import add_fold_bin_skf
train = add_fold_bin_skf(train, train[cfg['target']], fold_num=5, bins=[0,1,10,100,1000, 27392])

# Target Encoding

In [46]:
# target_enc_list = [
#     # 'art_series_id',
#     'principal_maker',
#     'principal_or_first_maker',
#     'copyright_holder',
#     'acquisition_method',
#     'dating_period',
#     'title_lang'
# ]

# from fe import target_encoding
# train, test = target_encoding(train, 
#                               test, 
#                               target = cfg['target'], 
#                               target_enc_list = target_enc_list, 
#                               fold_num = cfg['fold_num']
#                              )

# Make Model

In [47]:
use_col = train.columns.tolist()
use_col.remove('fold')
use_col.remove(cfg['target'])

In [48]:
use_col

['dating_period',
 'dating_year_early',
 'dating_year_late',
 'art_series_id',
 'principal_maker',
 'principal_or_first_maker',
 'copyright_holder',
 'acquisition_method',
 'title_lang',
 'place_of_birth',
 'date_of_birth',
 'date_of_death',
 'place_of_death',
 'nationality',
 'HistoricalPerson_Djatiroto Suikeronderneming',
 'HistoricalPerson_Frederik Hendrik (prins van Oranje)',
 'HistoricalPerson_Handels Vereeniging Amsterdam',
 'HistoricalPerson_Jacobus II (koning van Engeland en Schotland)',
 'HistoricalPerson_Lodewijk XIV (koning van Frankrijk)',
 'HistoricalPerson_Maria II Stuart (koningin van Engeland Schotland en Ierland)',
 'HistoricalPerson_Maurits (prins van Oranje)',
 'HistoricalPerson_Musschenbroek Sam van',
 'HistoricalPerson_Oldenbarnevelt Johan van',
 'HistoricalPerson_Ruyter Michiel Adriaansz. de',
 'HistoricalPerson_Titzenthaler Eckart',
 'HistoricalPerson_Titzenthaler Marba',
 'HistoricalPerson_Tjomal Suikerfabriek',
 'HistoricalPerson_Verenigde Oostindische Compagnie',
 'HistoricalPerson_Wehrmacht',
 'HistoricalPerson_Wilhelm II (keizer van Duitsland)',
 'HistoricalPerson_Wilhelmina (koningin der Nederlanden)',
 'HistoricalPerson_Willem I (prins van Oranje)',
 'HistoricalPerson_Willem III (koning der Nederlanden)',
 'HistoricalPerson_Willem III (prins van Oranje en koning van Engeland Schotland en Ierland)',
 'HistoricalPerson_Willem V (prins van Oranje-Nassau)',
 'HistoricalPerson_Wirix F.J.',
 'HistoricalPerson_Witt Cornelis de',
 'HistoricalPerson_Witt Johan de',
 'HistoricalPerson_Álvarez de Toledo Fernando (3e hertog van Alva)',
 'material_w2v_0',
 'material_w2v_1',
 'material_w2v_2',
 'material_w2v_3',
 'material_w2v_4',
 'material_w2v_5',
 'material_w2v_6',
 'material_w2v_7',
 'material_w2v_8',
 'material_w2v_9',
 'material_w2v_10',
 'material_w2v_11',
 'material_w2v_12',
 'material_w2v_13',
 'material_w2v_14',
 'material_w2v_15',
 'material_w2v_16',
 'material_w2v_17',
 'material_w2v_18',
 'material_w2v_19',
 'material_collection_w2v_0',
 'material_collection_w2v_1',
 'material_collection_w2v_2',
 'material_collection_w2v_3',
 'material_collection_w2v_4',
 'material_collection_w2v_5',
 'material_collection_w2v_6',
 'material_collection_w2v_7',
 'material_collection_w2v_8',
 'material_collection_w2v_9',
 'material_collection_w2v_10',
 'material_collection_w2v_11',
 'material_collection_w2v_12',
 'material_collection_w2v_13',
 'material_collection_w2v_14',
 'material_collection_w2v_15',
 'material_collection_w2v_16',
 'material_collection_w2v_17',
 'material_collection_w2v_18',
 'material_collection_w2v_19',
 'material_technique_w2v_0',
 'material_technique_w2v_1',
 'material_technique_w2v_2',
 'material_technique_w2v_3',
 'material_technique_w2v_4',
 'material_technique_w2v_5',
 'material_technique_w2v_6',
 'material_technique_w2v_7',
 'material_technique_w2v_8',
 'material_technique_w2v_9',
 'material_technique_w2v_10',
 'material_technique_w2v_11',
 'material_technique_w2v_12',
 'material_technique_w2v_13',
 'material_technique_w2v_14',
 'material_technique_w2v_15',
 'material_technique_w2v_16',
 'material_technique_w2v_17',
 'material_technique_w2v_18',
 'material_technique_w2v_19',
 'material_collection_technique_w2v_0',
 'material_collection_technique_w2v_1',
 'material_collection_technique_w2v_2',
 'material_collection_technique_w2v_3',
 'material_collection_technique_w2v_4',
 'material_collection_technique_w2v_5',
 'material_collection_technique_w2v_6',
 'material_collection_technique_w2v_7',
 'material_collection_technique_w2v_8',
 'material_collection_technique_w2v_9',
 'material_collection_technique_w2v_10',
 'material_collection_technique_w2v_11',
 'material_collection_technique_w2v_12',
 'material_collection_technique_w2v_13',
 'material_collection_technique_w2v_14',
 'material_collection_technique_w2v_15',
 'material_collection_technique_w2v_16',
 'material_collection_technique_w2v_17',
 'material_collection_technique_w2v_18',
 'material_collection_technique_w2v_19',
 'material_collection_technique_w2v_20',
 'material_collection_technique_w2v_21',
 'material_collection_technique_w2v_22',
 'material_collection_technique_w2v_23',
 'material_collection_technique_w2v_24',
 'collection_w2v_0',
 'collection_w2v_1',
 'collection_w2v_2',
 'collection_technique_w2v_0',
 'collection_technique_w2v_1',
 'collection_technique_w2v_2',
 'collection_technique_w2v_3',
 'collection_technique_w2v_4',
 'collection_technique_w2v_5',
 'collection_technique_w2v_6',
 'collection_technique_w2v_7',
 'collection_technique_w2v_8',
 'collection_technique_w2v_9',
 'technique_w2v_0',
 'technique_w2v_1',
 'technique_w2v_2',
 'technique_w2v_3',
 'technique_w2v_4',
 'technique_w2v_5',
 'technique_w2v_6',
 'technique_w2v_7',
 'AcquisitionDate_year',
 'AcquisitionDate_month',
 'AcquisitionDate_dayofweek',
 'AcquisitionDate_sum_time',
 'StringLength__title',
 'StringLength__long_title',
 'StringLength__sub_title',
 'StringLength__more_title',
 'StringLength__description',
 'StringLength__principal_maker',
 'StringLength__principal_or_first_maker',
 'CE_acquisition_method',
 'CE_acquisition_date',
 'CE_acquisition_credit_line',
 'CE_art_series_id',
 'CE_principal_maker',
 'CE_principal_or_first_maker',
 'CE_description',
 'CE_dating_presenting_date',
 'CE_dating_sorting_date',
 'CE_dating_period',
 'CE_dating_year_early',
 'CE_dating_year_late',
 'CE_title',
 'CE_long_title',
 'CE_sub_title',
 'CE_copyright_holder',
 'CE_more_title',
 'subtitle_h',
 'subtitle_w',
 'subtitle_t',
 'subtitle_d',
 'area',
 'volume',
 'DescriptionEmb_pca_0',
 'DescriptionEmb_pca_1',
 'DescriptionEmb_pca_2',
 'DescriptionEmb_pca_3',
 'DescriptionEmb_pca_4',
 'DescriptionEmb_pca_5',
 'DescriptionEmb_pca_6',
 'DescriptionEmb_pca_7',
 'DescriptionEmb_pca_8',
 'DescriptionEmb_pca_9',
 'DescriptionEmb_pca_10',
 'DescriptionEmb_pca_11',
 'DescriptionEmb_pca_12',
 'DescriptionEmb_pca_13',
 'DescriptionEmb_pca_14',
 'DescriptionEmb_pca_15',
 'DescriptionEmb_pca_16',
 'DescriptionEmb_pca_17',
 'DescriptionEmb_pca_18',
 'DescriptionEmb_pca_19',
 'DescriptionEmb_pca_20',
 'DescriptionEmb_pca_21',
 'DescriptionEmb_pca_22',
 'DescriptionEmb_pca_23',
 'DescriptionEmb_pca_24',
 'DescriptionEmb_pca_25',
 'DescriptionEmb_pca_26',
 'DescriptionEmb_pca_27',
 'DescriptionEmb_pca_28',
 'DescriptionEmb_pca_29',
 'DescriptionEmb_pca_30',
 'DescriptionEmb_pca_31',
 'DescriptionEmb_pca_32',
 'DescriptionEmb_pca_33',
 'DescriptionEmb_pca_34',
 'DescriptionEmb_pca_35',
 'DescriptionEmb_pca_36',
 'DescriptionEmb_pca_37',
 'DescriptionEmb_pca_38',
 'DescriptionEmb_pca_39',
 'DescriptionEmb_pca_40',
 'DescriptionEmb_pca_41',
 'DescriptionEmb_pca_42',
 'DescriptionEmb_pca_43',
 'DescriptionEmb_pca_44',
 'DescriptionEmb_pca_45',
 'DescriptionEmb_pca_46',
 'DescriptionEmb_pca_47',
 'DescriptionEmb_pca_48',
 'DescriptionEmb_pca_49',
 'DescriptionEmb_pca_50',
 'DescriptionEmb_pca_51',
 'DescriptionEmb_pca_52',
 'DescriptionEmb_pca_53',
 'DescriptionEmb_pca_54',
 'DescriptionEmb_pca_55',
 'DescriptionEmb_pca_56',
 'DescriptionEmb_pca_57',
 'DescriptionEmb_pca_58',
 'DescriptionEmb_pca_59',
 'DescriptionEmb_pca_60',
 'DescriptionEmb_pca_61',
 'DescriptionEmb_pca_62',
 'DescriptionEmb_pca_63',
 'DescriptionEmb_pca_64',
 'DescriptionEmb_pca_65',
 'DescriptionEmb_pca_66',
 'DescriptionEmb_pca_67',
 'DescriptionEmb_pca_68',
 'DescriptionEmb_pca_69',
 'DescriptionEmb_pca_70',
 'DescriptionEmb_pca_71',
 'DescriptionEmb_pca_72',
 'DescriptionEmb_pca_73',
 'DescriptionEmb_pca_74',
 'DescriptionEmb_pca_75',
 'DescriptionEmb_pca_76',
 'DescriptionEmb_pca_77',
 'DescriptionEmb_pca_78',
 'DescriptionEmb_pca_79',
 'DescriptionEmb_pca_80',
 'DescriptionEmb_pca_81',
 'DescriptionEmb_pca_82',
 'DescriptionEmb_pca_83',
 'DescriptionEmb_pca_84',
 'DescriptionEmb_pca_85',
 'DescriptionEmb_pca_86',
 'DescriptionEmb_pca_87',
 'DescriptionEmb_pca_88',
 'DescriptionEmb_pca_89',
 'DescriptionEmb_pca_90',
 'DescriptionEmb_pca_91',
 'DescriptionEmb_pca_92',
 'DescriptionEmb_pca_93',
 'DescriptionEmb_pca_94',
 'DescriptionEmb_pca_95',
 'DescriptionEmb_pca_96',
 'DescriptionEmb_pca_97',
 'DescriptionEmb_pca_98',
 'DescriptionEmb_pca_99',
 'DescriptionEmb_pca_100',
 'DescriptionEmb_pca_101',
 'DescriptionEmb_pca_102',
 'DescriptionEmb_pca_103',
 'DescriptionEmb_pca_104',
 'DescriptionEmb_pca_105',
 'DescriptionEmb_pca_106',
 'DescriptionEmb_pca_107',
 'DescriptionEmb_pca_108',
 'DescriptionEmb_pca_109',
 'DescriptionEmb_pca_110',
 'DescriptionEmb_pca_111',
 'DescriptionEmb_pca_112',
 'DescriptionEmb_pca_113',
 'DescriptionEmb_pca_114',
 'DescriptionEmb_pca_115',
 'DescriptionEmb_pca_116',
 'DescriptionEmb_pca_117',
 'DescriptionEmb_pca_118',
 'DescriptionEmb_pca_119',
 'DescriptionEmb_pca_120',
 'DescriptionEmb_pca_121',
 'DescriptionEmb_pca_122',
 'DescriptionEmb_pca_123',
 'DescriptionEmb_pca_124',
 'DescriptionEmb_pca_125',
 'DescriptionEmb_pca_126',
 'DescriptionEmb_pca_127',
 'DescriptionEmb_pca_128',
 'DescriptionEmb_pca_129',
 'DescriptionEmb_pca_130',
 'DescriptionEmb_pca_131',
 'DescriptionEmb_pca_132',
 'DescriptionEmb_pca_133',
 'DescriptionEmb_pca_134',
 'DescriptionEmb_pca_135',
 'DescriptionEmb_pca_136',
 'DescriptionEmb_pca_137',
 'DescriptionEmb_pca_138',
 'DescriptionEmb_pca_139',
 'DescriptionEmb_pca_140',
 'DescriptionEmb_pca_141',
 'DescriptionEmb_pca_142',
 'DescriptionEmb_pca_143',
 'DescriptionEmb_pca_144',
 'DescriptionEmb_pca_145',
 'DescriptionEmb_pca_146',
 'DescriptionEmb_pca_147',
 'DescriptionEmb_pca_148',
 'DescriptionEmb_pca_149',
 'DescriptionEmb_pca_150',
 'DescriptionEmb_pca_151',
 'DescriptionEmb_pca_152',
 'DescriptionEmb_pca_153',
 'DescriptionEmb_pca_154',
 'DescriptionEmb_pca_155',
 'DescriptionEmb_pca_156',
 'DescriptionEmb_pca_157',
 'DescriptionEmb_pca_158',
 'DescriptionEmb_pca_159',
 'DescriptionEmb_pca_160',
 'DescriptionEmb_pca_161',
 'DescriptionEmb_pca_162',
 'DescriptionEmb_pca_163',
 'DescriptionEmb_pca_164',
 'DescriptionEmb_pca_165',
 'DescriptionEmb_pca_166',
 'DescriptionEmb_pca_167',
 'DescriptionEmb_pca_168',
 'DescriptionEmb_pca_169',
 'DescriptionEmb_pca_170',
 'DescriptionEmb_pca_171',
 'DescriptionEmb_pca_172',
 'DescriptionEmb_pca_173',
 'DescriptionEmb_pca_174',
 'DescriptionEmb_pca_175',
 'DescriptionEmb_pca_176',
 'DescriptionEmb_pca_177',
 'DescriptionEmb_pca_178',
 'DescriptionEmb_pca_179',
 'DescriptionEmb_pca_180',
 'DescriptionEmb_pca_181',
 'DescriptionEmb_pca_182',
 'DescriptionEmb_pca_183',
 'DescriptionEmb_pca_184',
 'DescriptionEmb_pca_185',
 'DescriptionEmb_pca_186',
 'DescriptionEmb_pca_187',
 'DescriptionEmb_pca_188',
 'DescriptionEmb_pca_189',
 'DescriptionEmb_pca_190',
 'DescriptionEmb_pca_191',
 'DescriptionEmb_pca_192',
 'DescriptionEmb_pca_193',
 'DescriptionEmb_pca_194',
 'DescriptionEmb_pca_195',
 'DescriptionEmb_pca_196',
 'DescriptionEmb_pca_197',
 'DescriptionEmb_pca_198',
 'DescriptionEmb_pca_199',
 'DescriptionEmb_pca_200',
 'DescriptionEmb_pca_201',
 'DescriptionEmb_pca_202',
 'DescriptionEmb_pca_203',
 'DescriptionEmb_pca_204',
 'DescriptionEmb_pca_205',
 'DescriptionEmb_pca_206',
 'DescriptionEmb_pca_207',
 'DescriptionEmb_pca_208',
 'DescriptionEmb_pca_209',
 'DescriptionEmb_pca_210',
 'DescriptionEmb_pca_211',
 'DescriptionEmb_pca_212',
 'DescriptionEmb_pca_213',
 'DescriptionEmb_pca_214',
 'DescriptionEmb_pca_215',
 'DescriptionEmb_pca_216',
 'DescriptionEmb_pca_217',
 'DescriptionEmb_pca_218',
 'DescriptionEmb_pca_219',
 'DescriptionEmb_pca_220',
 'DescriptionEmb_pca_221',
 'DescriptionEmb_pca_222',
 'DescriptionEmb_pca_223',
 'DescriptionEmb_pca_224',
 'DescriptionEmb_pca_225',
 'DescriptionEmb_pca_226',
 'DescriptionEmb_pca_227',
 'DescriptionEmb_pca_228',
 'DescriptionEmb_pca_229',
 'DescriptionEmb_pca_230',
 'DescriptionEmb_pca_231',
 'DescriptionEmb_pca_232',
 'DescriptionEmb_pca_233',
 'DescriptionEmb_pca_234',
 'DescriptionEmb_pca_235',
 'DescriptionEmb_pca_236',
 'DescriptionEmb_pca_237',
 'DescriptionEmb_pca_238',
 'DescriptionEmb_pca_239',
 'DescriptionEmb_pca_240',
 'DescriptionEmb_pca_241',
 'DescriptionEmb_pca_242',
 'DescriptionEmb_pca_243',
 'DescriptionEmb_pca_244',
 'DescriptionEmb_pca_245',
 'DescriptionEmb_pca_246',
 'DescriptionEmb_pca_247',
 'DescriptionEmb_pca_248',
 'DescriptionEmb_pca_249',
 'DescriptionEmb_pca_250',
 'DescriptionEmb_pca_251',
 'DescriptionEmb_pca_252',
 'DescriptionEmb_pca_253',
 'DescriptionEmb_pca_254',
 'DescriptionEmb_pca_255',
 'LongTitleEmb_pca_0',
 'LongTitleEmb_pca_1',
 'LongTitleEmb_pca_2',
 'LongTitleEmb_pca_3',
 'LongTitleEmb_pca_4',
 'LongTitleEmb_pca_5',
 'LongTitleEmb_pca_6',
 'LongTitleEmb_pca_7',
 'LongTitleEmb_pca_8',
 'LongTitleEmb_pca_9',
 'LongTitleEmb_pca_10',
 'LongTitleEmb_pca_11',
 'LongTitleEmb_pca_12',
 'LongTitleEmb_pca_13',
 'LongTitleEmb_pca_14',
 'LongTitleEmb_pca_15',
 'LongTitleEmb_pca_16',
 'LongTitleEmb_pca_17',
 'LongTitleEmb_pca_18',
 'LongTitleEmb_pca_19',
 'LongTitleEmb_pca_20',
 'LongTitleEmb_pca_21',
 'LongTitleEmb_pca_22',
 'LongTitleEmb_pca_23',
 'LongTitleEmb_pca_24',
 'LongTitleEmb_pca_25',
 'LongTitleEmb_pca_26',
 'LongTitleEmb_pca_27',
 'LongTitleEmb_pca_28',
 'LongTitleEmb_pca_29',
 'LongTitleEmb_pca_30',
 'LongTitleEmb_pca_31',
 'LongTitleEmb_pca_32',
 'LongTitleEmb_pca_33',
 'LongTitleEmb_pca_34',
 'LongTitleEmb_pca_35',
 'LongTitleEmb_pca_36',
 'LongTitleEmb_pca_37',
 'LongTitleEmb_pca_38',
 'LongTitleEmb_pca_39',
 'LongTitleEmb_pca_40',
 'LongTitleEmb_pca_41',
 'LongTitleEmb_pca_42',
 'LongTitleEmb_pca_43',
 'LongTitleEmb_pca_44',
 'LongTitleEmb_pca_45',
 'LongTitleEmb_pca_46',
 'LongTitleEmb_pca_47',
 'LongTitleEmb_pca_48',
 'LongTitleEmb_pca_49',
 'LongTitleEmb_pca_50',
 'LongTitleEmb_pca_51',
 'LongTitleEmb_pca_52',
 'LongTitleEmb_pca_53',
 'LongTitleEmb_pca_54',
 'LongTitleEmb_pca_55',
 'LongTitleEmb_pca_56',
 'LongTitleEmb_pca_57',
 'LongTitleEmb_pca_58',
 'LongTitleEmb_pca_59',
 'LongTitleEmb_pca_60',
 'LongTitleEmb_pca_61',
 'LongTitleEmb_pca_62',
 'LongTitleEmb_pca_63',
 'LongTitleEmb_pca_64',
 'LongTitleEmb_pca_65',
 'LongTitleEmb_pca_66',
 'LongTitleEmb_pca_67',
 'LongTitleEmb_pca_68',
 'LongTitleEmb_pca_69',
 'LongTitleEmb_pca_70',
 'LongTitleEmb_pca_71',
 'LongTitleEmb_pca_72',
 'LongTitleEmb_pca_73',
 'LongTitleEmb_pca_74',
 'LongTitleEmb_pca_75',
 'LongTitleEmb_pca_76',
 'LongTitleEmb_pca_77',
 'LongTitleEmb_pca_78',
 'LongTitleEmb_pca_79',
 'LongTitleEmb_pca_80',
 'LongTitleEmb_pca_81',
 'LongTitleEmb_pca_82',
 'LongTitleEmb_pca_83',
 'LongTitleEmb_pca_84',
 'LongTitleEmb_pca_85',
 'LongTitleEmb_pca_86',
 'LongTitleEmb_pca_87',
 'LongTitleEmb_pca_88',
 'LongTitleEmb_pca_89',
 'LongTitleEmb_pca_90',
 'LongTitleEmb_pca_91',
 'LongTitleEmb_pca_92',
 'LongTitleEmb_pca_93',
 'LongTitleEmb_pca_94',
 'LongTitleEmb_pca_95',
 'LongTitleEmb_pca_96',
 'LongTitleEmb_pca_97',
 'LongTitleEmb_pca_98',
 'LongTitleEmb_pca_99',
 'LongTitleEmb_pca_100',
 'LongTitleEmb_pca_101',
 'LongTitleEmb_pca_102',
 'LongTitleEmb_pca_103',
 'LongTitleEmb_pca_104',
 'LongTitleEmb_pca_105',
 'LongTitleEmb_pca_106',
 'LongTitleEmb_pca_107',
 'LongTitleEmb_pca_108',
 'LongTitleEmb_pca_109',
 'LongTitleEmb_pca_110',
 'LongTitleEmb_pca_111',
 'LongTitleEmb_pca_112',
 'LongTitleEmb_pca_113',
 'LongTitleEmb_pca_114',
 'LongTitleEmb_pca_115',
 'LongTitleEmb_pca_116',
 'LongTitleEmb_pca_117',
 'LongTitleEmb_pca_118',
 'LongTitleEmb_pca_119',
 'LongTitleEmb_pca_120',
 'LongTitleEmb_pca_121',
 'LongTitleEmb_pca_122',
 'LongTitleEmb_pca_123',
 'LongTitleEmb_pca_124',
 'LongTitleEmb_pca_125',
 'LongTitleEmb_pca_126',
 'LongTitleEmb_pca_127',
 'LongTitleEmb_pca_128',
 'LongTitleEmb_pca_129',
 'LongTitleEmb_pca_130',
 'LongTitleEmb_pca_131',
 'LongTitleEmb_pca_132',
 'LongTitleEmb_pca_133',
 'LongTitleEmb_pca_134',
 'LongTitleEmb_pca_135',
 'LongTitleEmb_pca_136',
 'LongTitleEmb_pca_137',
 'LongTitleEmb_pca_138',
 'LongTitleEmb_pca_139',
 'LongTitleEmb_pca_140',
 'LongTitleEmb_pca_141',
 'LongTitleEmb_pca_142',
 'LongTitleEmb_pca_143',
 'LongTitleEmb_pca_144',
 'LongTitleEmb_pca_145',
 'LongTitleEmb_pca_146',
 'LongTitleEmb_pca_147',
 'LongTitleEmb_pca_148',
 'LongTitleEmb_pca_149',
 'LongTitleEmb_pca_150',
 'LongTitleEmb_pca_151',
 'LongTitleEmb_pca_152',
 'LongTitleEmb_pca_153',
 'LongTitleEmb_pca_154',
 'LongTitleEmb_pca_155',
 'LongTitleEmb_pca_156',
 'LongTitleEmb_pca_157',
 'LongTitleEmb_pca_158',
 'LongTitleEmb_pca_159',
 'LongTitleEmb_pca_160',
 'LongTitleEmb_pca_161',
 'LongTitleEmb_pca_162',
 'LongTitleEmb_pca_163',
 'LongTitleEmb_pca_164',
 'LongTitleEmb_pca_165',
 'LongTitleEmb_pca_166',
 'LongTitleEmb_pca_167',
 'LongTitleEmb_pca_168',
 'LongTitleEmb_pca_169',
 'LongTitleEmb_pca_170',
 'LongTitleEmb_pca_171',
 'LongTitleEmb_pca_172',
 'LongTitleEmb_pca_173',
 'LongTitleEmb_pca_174',
 'LongTitleEmb_pca_175',
 'LongTitleEmb_pca_176',
 'LongTitleEmb_pca_177',
 'LongTitleEmb_pca_178',
 'LongTitleEmb_pca_179',
 'LongTitleEmb_pca_180',
 'LongTitleEmb_pca_181',
 'LongTitleEmb_pca_182',
 'LongTitleEmb_pca_183',
 'LongTitleEmb_pca_184',
 'LongTitleEmb_pca_185',
 'LongTitleEmb_pca_186',
 'LongTitleEmb_pca_187',
 'LongTitleEmb_pca_188',
 'LongTitleEmb_pca_189',
 'LongTitleEmb_pca_190',
 'LongTitleEmb_pca_191',
 'LongTitleEmb_pca_192',
 'LongTitleEmb_pca_193',
 'LongTitleEmb_pca_194',
 'LongTitleEmb_pca_195',
 'LongTitleEmb_pca_196',
 'LongTitleEmb_pca_197',
 'LongTitleEmb_pca_198',
 'LongTitleEmb_pca_199',
 'LongTitleEmb_pca_200',
 'LongTitleEmb_pca_201',
 'LongTitleEmb_pca_202',
 'LongTitleEmb_pca_203',
 'LongTitleEmb_pca_204',
 'LongTitleEmb_pca_205',
 'LongTitleEmb_pca_206',
 'LongTitleEmb_pca_207',
 'LongTitleEmb_pca_208',
 'LongTitleEmb_pca_209',
 'LongTitleEmb_pca_210',
 'LongTitleEmb_pca_211',
 'LongTitleEmb_pca_212',
 'LongTitleEmb_pca_213',
 'LongTitleEmb_pca_214',
 'LongTitleEmb_pca_215',
 'LongTitleEmb_pca_216',
 'LongTitleEmb_pca_217',
 'LongTitleEmb_pca_218',
 'LongTitleEmb_pca_219',
 'LongTitleEmb_pca_220',
 'LongTitleEmb_pca_221',
 'LongTitleEmb_pca_222',
 'LongTitleEmb_pca_223',
 'LongTitleEmb_pca_224',
 'LongTitleEmb_pca_225',
 'LongTitleEmb_pca_226',
 'LongTitleEmb_pca_227',
 'LongTitleEmb_pca_228',
 'LongTitleEmb_pca_229',
 'LongTitleEmb_pca_230',
 'LongTitleEmb_pca_231',
 'LongTitleEmb_pca_232',
 'LongTitleEmb_pca_233',
 'LongTitleEmb_pca_234',
 'LongTitleEmb_pca_235',
 'LongTitleEmb_pca_236',
 'LongTitleEmb_pca_237',
 'LongTitleEmb_pca_238',
 'LongTitleEmb_pca_239',
 'LongTitleEmb_pca_240',
 'LongTitleEmb_pca_241',
 'LongTitleEmb_pca_242',
 'LongTitleEmb_pca_243',
 'LongTitleEmb_pca_244',
 'LongTitleEmb_pca_245',
 'LongTitleEmb_pca_246',
 'LongTitleEmb_pca_247',
 'LongTitleEmb_pca_248',
 'LongTitleEmb_pca_249',
 'LongTitleEmb_pca_250',
 'LongTitleEmb_pca_251',
 'LongTitleEmb_pca_252',
 'LongTitleEmb_pca_253',
 'LongTitleEmb_pca_254',
 'LongTitleEmb_pca_255',
 'ImageFeature_pca_0',
 'ImageFeature_pca_1',
 'ImageFeature_pca_2',
 'ImageFeature_pca_3',
 'ImageFeature_pca_4',
 'ImageFeature_pca_5',
 'ImageFeature_pca_6',
 'ImageFeature_pca_7',
 'ImageFeature_pca_8',
 'ImageFeature_pca_9',
 'ImageFeature_pca_10',
 'ImageFeature_pca_11',
 'ImageFeature_pca_12',
 'ImageFeature_pca_13',
 'ImageFeature_pca_14',
 'ImageFeature_pca_15',
 'ImageFeature_pca_16',
 'ImageFeature_pca_17',
 'ImageFeature_pca_18',
 'ImageFeature_pca_19',
 'ImageFeature_pca_20',
 'ImageFeature_pca_21',
 'ImageFeature_pca_22',
 'ImageFeature_pca_23',
 'ImageFeature_pca_24',
 'ImageFeature_pca_25',
 'ImageFeature_pca_26',
 'ImageFeature_pca_27',
 'ImageFeature_pca_28',
 'ImageFeature_pca_29',
 'ImageFeature_pca_30',
 'ImageFeature_pca_31',
 'ImageFeature_pca_32',
 'ImageFeature_pca_33',
 'ImageFeature_pca_34',
 'ImageFeature_pca_35',
 'ImageFeature_pca_36',
 'ImageFeature_pca_37',
 'ImageFeature_pca_38',
 'ImageFeature_pca_39',
 'ImageFeature_pca_40',
 'ImageFeature_pca_41',
 'ImageFeature_pca_42',
 'ImageFeature_pca_43',
 'ImageFeature_pca_44',
 'ImageFeature_pca_45',
 'ImageFeature_pca_46',
 'ImageFeature_pca_47',
 'ImageFeature_pca_48',
 'ImageFeature_pca_49',
 'ImageFeature_pca_50',
 'ImageFeature_pca_51',
 'ImageFeature_pca_52',
 'ImageFeature_pca_53',
 'ImageFeature_pca_54',
 'ImageFeature_pca_55',
 'ImageFeature_pca_56',
 'ImageFeature_pca_57',

In [49]:
# 学習直前でwandbにログイン、こうしないと頻繁にnotebookが落ちる
from use_wandb import use_wandb
use_wandb(params=cfg['params'], PROJECT_NAME=cfg['competition_name'], TRIAL_NAME=TRIAL_NAME)
# e99ecbcc2d9a775a09280213a06af1cf174d0fe0

wandb: Currently logged in as: sinchir0 (use `wandb login --relogin` to force relogin)

In [ ]:
from fe import target_encoding
from lgbm import LGBM

lgbm = LGBM(train=train,
  test=test,
  target='likes',
  use_col=use_col,
  cat_col=cat_col,
  cfg=cfg,
  OUTPUT_DIR=OUTPUT_DIR,
  DO_FIT=True,
  DO_SEED_AVE=False,
  DEBUG=False,
  is_target_log=True)

feature_importance_df, order = lgbm.feature_importance(PLOT=False)

--------------FOLDS : 0 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'date_of_birth', 'date_of_death', 'nationality', 'place_of_birth', 'place_of_death', 'principal_maker', 'principal_or_first_maker', 'title_lang']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 1.18715	valid_1's rmse: 1.2306
[200]	training's rmse: 1.02252	valid_1's rmse: 1.11355
[300]	training's rmse: 0.950064	valid_1's rmse: 1.08344
[400]	training's rmse: 0.89696	valid_1's rmse: 1.06835
[500]	training's rmse: 0.852903	valid_1's rmse: 1.0597
[600]	training's rmse: 0.81432	valid_1's rmse: 1.05387
[700]	training's rmse: 0.779407	valid_1's rmse: 1.04945
[800]	training's rmse: 0.747084	valid_1's rmse: 1.04559
[900]	training's rmse: 0.717022	valid_1's rmse: 1.04268
[1000]	training's rmse: 0.688831	valid_1's rmse: 1.03945
[1100]	training's rmse: 0.662384	valid_1's rmse: 1.03658
[1200]	training's rmse: 0.637889	valid_1's rmse: 1.03465
[1300]	training's rmse: 0.614723	valid_1's rmse: 1.03305
[1400]	training's rmse: 0.592756	valid_1's rmse: 1.03073
[1500]	training's rmse: 0.571828	valid_1's rmse: 1.02963
[1600]	training's rmse: 0.551959	valid_1's rmse: 1.02783
[1700]	training's rmse: 0.533009	valid_1's rmse: 1.02611
[1800]	training's rmse: 0.515348	valid_1's rmse: 1.02489
[1900]	training's rmse: 0.498273	valid_1's rmse: 1.02389
[2000]	training's rmse: 0.481964	valid_1's rmse: 1.02293
[2100]	training's rmse: 0.466154	valid_1's rmse: 1.02207
[2200]	training's rmse: 0.451094	valid_1's rmse: 1.02103
[2300]	training's rmse: 0.436791	valid_1's rmse: 1.02031
[2400]	training's rmse: 0.423094	valid_1's rmse: 1.0193
[2500]	training's rmse: 0.409604	valid_1's rmse: 1.01871
[2600]	training's rmse: 0.39695	valid_1's rmse: 1.01818
[2700]	training's rmse: 0.384787	valid_1's rmse: 1.01769
[2800]	training's rmse: 0.372897	valid_1's rmse: 1.01755
[2900]	training's rmse: 0.361534	valid_1's rmse: 1.01713
[3000]	training's rmse: 0.350693	valid_1's rmse: 1.01681
[3100]	training's rmse: 0.340081	valid_1's rmse: 1.0166
[3200]	training's rmse: 0.329873	valid_1's rmse: 1.01629
[3300]	training's rmse: 0.319973	valid_1's rmse: 1.01597
[3400]	training's rmse: 0.310489	valid_1's rmse: 1.01573
[3500]	training's rmse: 0.301156	valid_1's rmse: 1.01528
[3600]	training's rmse: 0.292356	valid_1's rmse: 1.01484
[3700]	training's rmse: 0.283792	valid_1's rmse: 1.0147
[3800]	training's rmse: 0.275468	valid_1's rmse: 1.01448
[3900]	training's rmse: 0.267382	valid_1's rmse: 1.01427
[4000]	training's rmse: 0.259746	valid_1's rmse: 1.0143
Early stopping, best iteration is:
[3929]	training's rmse: 0.265157	valid_1's rmse: 1.01419
Fold 0 rmsle: 1.0141
--------------FOLDS : 1 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'date_of_birth', 'date_of_death', 'nationality', 'place_of_birth', 'place_of_death', 'principal_maker', 'principal_or_first_maker', 'title_lang']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 1.18111	valid_1's rmse: 1.23592
[200]	training's rmse: 1.01637	valid_1's rmse: 1.12599
[300]	training's rmse: 0.943732	valid_1's rmse: 1.09983
[400]	training's rmse: 0.891569	valid_1's rmse: 1.08655
[500]	training's rmse: 0.848418	valid_1's rmse: 1.07859
[600]	training's rmse: 0.810059	valid_1's rmse: 1.07216
[700]	training's rmse: 0.775286	valid_1's rmse: 1.06727
[800]	training's rmse: 0.743169	valid_1's rmse: 1.06296
[900]	training's rmse: 0.713199	valid_1's rmse: 1.05921
[1000]	training's rmse: 0.685368	valid_1's rmse: 1.05598
[1100]	training's rmse: 0.659077	valid_1's rmse: 1.0535
[1200]	training's rmse: 0.634527	valid_1's rmse: 1.05094
[1300]	training's rmse: 0.611438	valid_1's rmse: 1.04897
[1400]	training's rmse: 0.589725	valid_1's rmse: 1.04689
[1500]	training's rmse: 0.569326	valid_1's rmse: 1.04524
[1600]	training's rmse: 0.549604	valid_1's rmse: 1.04427
[1700]	training's rmse: 0.530855	valid_1's rmse: 1.04332
[1800]	training's rmse: 0.513048	valid_1's rmse: 1.0421
[1900]	training's rmse: 0.496039	valid_1's rmse: 1.04146
[2000]	training's rmse: 0.479796	valid_1's rmse: 1.04057
[2100]	training's rmse: 0.464122	valid_1's rmse: 1.03971
[2200]	training's rmse: 0.448957	valid_1's rmse: 1.03894
[2300]	training's rmse: 0.43468	valid_1's rmse: 1.03831
[2400]	training's rmse: 0.420732	valid_1's rmse: 1.03792
[2500]	training's rmse: 0.407553	valid_1's rmse: 1.03739
[2600]	training's rmse: 0.395056	valid_1's rmse: 1.0368
[2700]	training's rmse: 0.382915	valid_1's rmse: 1.03654
[2800]	training's rmse: 0.371158	valid_1's rmse: 1.03628
[2900]	training's rmse: 0.35982	valid_1's rmse: 1.03557
[3000]	training's rmse: 0.348851	valid_1's rmse: 1.03545
[3100]	training's rmse: 0.338363	valid_1's rmse: 1.03534
[3200]	training's rmse: 0.3283	valid_1's rmse: 1.0352
[3300]	training's rmse: 0.318544	valid_1's rmse: 1.03487
[3400]	training's rmse: 0.309161	valid_1's rmse: 1.03492
[3500]	training's rmse: 0.299828	valid_1's rmse: 1.03467
[3600]	training's rmse: 0.290936	valid_1's rmse: 1.0344
[3700]	training's rmse: 0.282403	valid_1's rmse: 1.03431
[3800]	training's rmse: 0.274149	valid_1's rmse: 1.03412
[3900]	training's rmse: 0.266299	valid_1's rmse: 1.03404
[4000]	training's rmse: 0.25861	valid_1's rmse: 1.03395
[4100]	training's rmse: 0.251056	valid_1's rmse: 1.03391
Early stopping, best iteration is:
[4073]	training's rmse: 0.253117	valid_1's rmse: 1.03383
Fold 1 rmsle: 1.0338
--------------FOLDS : 2 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'date_of_birth', 'date_of_death', 'nationality', 'place_of_birth', 'place_of_death', 'principal_maker', 'principal_or_first_maker', 'title_lang']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 1.18824	valid_1's rmse: 1.22116
[200]	training's rmse: 1.0258	valid_1's rmse: 1.10561
[300]	training's rmse: 0.953363	valid_1's rmse: 1.07501
[400]	training's rmse: 0.900291	valid_1's rmse: 1.06143
[500]	training's rmse: 0.855998	valid_1's rmse: 1.05263
[600]	training's rmse: 0.817003	valid_1's rmse: 1.04572
[700]	training's rmse: 0.781492	valid_1's rmse: 1.04106
[800]	training's rmse: 0.748612	valid_1's rmse: 1.0369
[900]	training's rmse: 0.718081	valid_1's rmse: 1.03217
[1000]	training's rmse: 0.689929	valid_1's rmse: 1.02967
[1100]	training's rmse: 0.663645	valid_1's rmse: 1.02635
[1200]	training's rmse: 0.63887	valid_1's rmse: 1.02369
[1300]	training's rmse: 0.615333	valid_1's rmse: 1.02183
[1400]	training's rmse: 0.593161	valid_1's rmse: 1.02007
[1500]	training's rmse: 0.572344	valid_1's rmse: 1.01828
[1600]	training's rmse: 0.552552	valid_1's rmse: 1.01698
[1700]	training's rmse: 0.533591	valid_1's rmse: 1.01575
[1800]	training's rmse: 0.515485	valid_1's rmse: 1.01498
[1900]	training's rmse: 0.498253	valid_1's rmse: 1.01388
[2000]	training's rmse: 0.481647	valid_1's rmse: 1.01321
[2100]	training's rmse: 0.465782	valid_1's rmse: 1.0127
[2200]	training's rmse: 0.450735	valid_1's rmse: 1.01213
[2300]	training's rmse: 0.43631	valid_1's rmse: 1.01128
[2400]	training's rmse: 0.422358	valid_1's rmse: 1.0103
[2500]	training's rmse: 0.408996	valid_1's rmse: 1.00991
[2600]	training's rmse: 0.396375	valid_1's rmse: 1.00932
[2700]	training's rmse: 0.384059	valid_1's rmse: 1.00897
[2800]	training's rmse: 0.372227	valid_1's rmse: 1.00857
[2900]	training's rmse: 0.360957	valid_1's rmse: 1.00803
[3000]	training's rmse: 0.349958	valid_1's rmse: 1.00779
[3100]	training's rmse: 0.339389	valid_1's rmse: 1.00753
[3200]	training's rmse: 0.329145	valid_1's rmse: 1.00738
[3300]	training's rmse: 0.319104	valid_1's rmse: 1.00702
[3400]	training's rmse: 0.309533	valid_1's rmse: 1.00638
[3500]	training's rmse: 0.300244	valid_1's rmse: 1.00613
[3600]	training's rmse: 0.291435	valid_1's rmse: 1.00592
[3700]	training's rmse: 0.282716	valid_1's rmse: 1.00555
[3800]	training's rmse: 0.274341	valid_1's rmse: 1.00542
[3900]	training's rmse: 0.26626	valid_1's rmse: 1.00519
[4000]	training's rmse: 0.258546	valid_1's rmse: 1.00496
[4100]	training's rmse: 0.251123	valid_1's rmse: 1.00478
[4200]	training's rmse: 0.243973	valid_1's rmse: 1.00475
Early stopping, best iteration is:
[4127]	training's rmse: 0.249222	valid_1's rmse: 1.00467
Fold 2 rmsle: 1.0046
--------------FOLDS : 3 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'date_of_birth', 'date_of_death', 'nationality', 'place_of_birth', 'place_of_death', 'principal_maker', 'principal_or_first_maker', 'title_lang']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 1.1805	valid_1's rmse: 1.25367
[200]	training's rmse: 1.01534	valid_1's rmse: 1.14617
[300]	training's rmse: 0.942453	valid_1's rmse: 1.11466
[400]	training's rmse: 0.889963	valid_1's rmse: 1.09864
[500]	training's rmse: 0.846633	valid_1's rmse: 1.08927
[600]	training's rmse: 0.807805	valid_1's rmse: 1.08274
[700]	training's rmse: 0.77245	valid_1's rmse: 1.07652
[800]	training's rmse: 0.739961	valid_1's rmse: 1.07177
[900]	training's rmse: 0.709987	valid_1's rmse: 1.06729
[1000]	training's rmse: 0.682358	valid_1's rmse: 1.06366
[1100]	training's rmse: 0.656464	valid_1's rmse: 1.06106
[1200]	training's rmse: 0.63197	valid_1's rmse: 1.0585
[1300]	training's rmse: 0.608814	valid_1's rmse: 1.05664
[1400]	training's rmse: 0.58709	valid_1's rmse: 1.05462
[1500]	training's rmse: 0.566483	valid_1's rmse: 1.05299
[1600]	training's rmse: 0.546605	valid_1's rmse: 1.05157
[1700]	training's rmse: 0.527938	valid_1's rmse: 1.05001
[1800]	training's rmse: 0.510013	valid_1's rmse: 1.04893
[1900]	training's rmse: 0.493217	valid_1's rmse: 1.04815
[2000]	training's rmse: 0.477193	valid_1's rmse: 1.04743
[2100]	training's rmse: 0.461862	valid_1's rmse: 1.04644
[2200]	training's rmse: 0.447117	valid_1's rmse: 1.04549
[2300]	training's rmse: 0.432675	valid_1's rmse: 1.04512
[2400]	training's rmse: 0.418996	valid_1's rmse: 1.04441
[2500]	training's rmse: 0.40585	valid_1's rmse: 1.04398
[2600]	training's rmse: 0.393198	valid_1's rmse: 1.04324
[2700]	training's rmse: 0.38113	valid_1's rmse: 1.04293
[2800]	training's rmse: 0.369757	valid_1's rmse: 1.04253
[2900]	training's rmse: 0.358537	valid_1's rmse: 1.04201
[3000]	training's rmse: 0.3475	valid_1's rmse: 1.04177
[3100]	training's rmse: 0.337071	valid_1's rmse: 1.04158
[3200]	training's rmse: 0.327177	valid_1's rmse: 1.04116
[3300]	training's rmse: 0.317596	valid_1's rmse: 1.04094
[3400]	training's rmse: 0.30824	valid_1's rmse: 1.0408
[3500]	training's rmse: 0.299152	valid_1's rmse: 1.04031
[3600]	training's rmse: 0.290288	valid_1's rmse: 1.04005
[3700]	training's rmse: 0.281789	valid_1's rmse: 1.03996
[3800]	training's rmse: 0.273363	valid_1's rmse: 1.03968
[3900]	training's rmse: 0.265309	valid_1's rmse: 1.03953
[4000]	training's rmse: 0.257627	valid_1's rmse: 1.03939
Early stopping, best iteration is:
[3992]	training's rmse: 0.25822	valid_1's rmse: 1.03936
Fold 3 rmsle: 1.0393
--------------FOLDS : 4 --------------

/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:151: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/engine.py:156: UserWarning: Found `early_stopping_rounds` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1554: UserWarning: categorical_feature in Dataset is overridden.
New categorical_feature is ['acquisition_method', 'art_series_id', 'copyright_holder', 'date_of_birth', 'date_of_death', 'nationality', 'place_of_birth', 'place_of_death', 'principal_maker', 'principal_or_first_maker', 'title_lang']
  warnings.warn('categorical_feature in Dataset is overridden.\n'
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1286: UserWarning: Overriding the parameters from Reference Dataset.
  warnings.warn('Overriding the parameters from Reference Dataset.')
/Users/shinichiro.saito/opt/anaconda3/lib/python3.8/site-packages/lightgbm/basic.py:1098: UserWarning: categorical_column in param dict is overridden.
  warnings.warn('{} in param dict is overridden.'.format(cat_alias))

Training until validation scores don't improve for 100 rounds
[100]	training's rmse: 1.18573	valid_1's rmse: 1.23284
[200]	training's rmse: 1.0221	valid_1's rmse: 1.11219
[300]	training's rmse: 0.949345	valid_1's rmse: 1.08031
[400]	training's rmse: 0.896322	valid_1's rmse: 1.0638
[500]	training's rmse: 0.85242	valid_1's rmse: 1.05444
[600]	training's rmse: 0.812743	valid_1's rmse: 1.04809
[700]	training's rmse: 0.777162	valid_1's rmse: 1.04257
[800]	training's rmse: 0.744496	valid_1's rmse: 1.03882

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.scatter(train['likes'],lgbm.oof);
plt.xlim(0,30000);
plt.ylim(0,30000);
plt.xlabel('actual');
plt.ylabel('predict');

In [ ]:
os.makedirs(f"{OUTPUT_DIR}/imp", exist_ok=True)
feature_importance_df[order[:50]].to_csv(f"{OUTPUT_DIR}/imp/importance.csv")
display(feature_importance_df[order[:50]])

In [ ]:
from make_data import make_oof
oof_df = make_oof(OUTPUT_DIR=OUTPUT_DIR, TARGET=cfg['target'])

In [ ]:
# from score import calc_macro_auc
# score = calc_macro_auc(train_target_df=train_target_df, oof_df=oof_df, order_list=TARGET_IDS)

In [ ]:
sample_sub = pd.read_csv('../../data/atmacup10__sample_submission.csv')

In [ ]:
from make_data import make_sub
sub_df = make_sub(sample_sub=sample_sub, TARGET_NAME=cfg['target'], TRIAL_NAME=TRIAL_NAME, OUTPUT_DIR=OUTPUT_DIR, cv_score=lgbm.score)

In [ ]:
sub_df.describe()

In [ ]:
from make_fig import make_dist_oof_pred
make_dist_oof_pred(oof_df=oof_df,sub_df=sub_df,OUTPUT_DIR=OUTPUT_DIR)